{% extends 'base.html' %}
{% load static %}


{% block content %}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="shadow-primary  border-radius-lg pt-4 pb-3" style="background-color: #FF9001;">
                            <h6 class="text-white text-capitalize ps-3">Update Admin Details</h6>
                        </div>
                    </div>
                    <div class="card-body">
                    <form class="" action="" method="post" novalidate autocomplete="off">
                        {% csrf_token %}
                        
                        {% load widget_tweaks %}

                        {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in form.non_field_errors %}
                                <p{% if forloop.last %} class="mb-0" {% endif %}>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-3">
                                <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                                style="margin-bottom: 0px; margin-top: 17px;">First Name</label>
                                <div class="input-group input-group-outline">
                                    {% render_field form.firstname class="form-control" %}
                                </div>
                            </div>

                            <div class="col-3">
                                <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                                style="margin-bottom: 0px; margin-top: 17px;">Last Name</label>
                                <div class="input-group input-group-outline">
                                    {% render_field form.lastname class="form-control" %}
                                </div>
                            </div>

                            <div class="col-3">
                                <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                                style="margin-bottom: 0px; margin-top: 17px;">Username</label>
                                <div class="input-group input-group-outline">
                                    {% render_field form.username class="form-control" %}
                                </div>
                            </div>

                            <div class="col-3">
                                <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                                style="margin-bottom: 0px; margin-top: 17px;">Password</label>
                                <div class="input-group input-group-outline">
                                    {% render_field form.password class="form-control" %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-3">
                                <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                                style="margin-bottom: 0px; margin-top: 17px;">Security Question</label>
                                <div class="input-group input-group-outline">
                                    {% render_field form.security_question class="form-control" %}
                                </div>
                            </div>

                            <div class="col-3">
                                <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                                style="margin-bottom: 0px; margin-top: 17px;">Security Answer</label>
                                <div class="input-group input-group-outline">
                                    {% render_field form.security_answer class="form-control" %}
                                </div>
                            </div>

                            <div class="col-3">
                                <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                                style="margin-bottom: 0px; margin-top: 17px;">Recovery Email</label>
                                <div class="input-group input-group-outline">
                                    {% render_field form.recovery_email class="form-control" %}
                                </div>
                            </div>

                            <div class="col-3">
                                <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                                style="margin-bottom: 0px; margin-top: 17px;">Admin Class</label>
                                <div class="input-group input-group-outline">
                                    {% render_field form.admin_class class="form-control" %}
                                </div>
                            </div>
                        </div>
                        <div class="ln_solid">
                            <br />
                            <div class="form-group">
                                <div class="col-md-12 col-sm-3">
                                    <button type='submit' class="btn text-white shadow-warning" style="background-color: #FF9001;">Update</button>
                                    &nbsp &nbsp &nbsp
                                    <a class="btn text-white shadow-secondary" style="background-color: #4b4b4b;" href="{% url 'AdminList' %}">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}