{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="shadow-primary border-radius-lg pt-4 pb-3" style="background-color: rgba(255, 66, 0, 0.9);">
                            <h6 class="text-white ps-3">List of Admins</h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                             <div class="col-sm-2">
                                 <div class="pull-right">
                                     <a href="{% url 'AdminAdd' %}" class="btn text-white mt-4 w-100 shadow-primary" style="background-color: rgba(255, 66, 0, 0.9);">Add Admin</a>
                                 </div>
                             </div>
 
                             <div class="col-sm-7"></div>

                             {% include 'includes/search_style.html' %}

                             {% load humanize %}
                             
                             <div class="col-sm-3">
                                <form action="{% url 'AdminList' %}" method="get"> 
                                    <div class="input-group input-group-outline">
                                        <label class="form-label">Search admin...</label>
                                        <input type="text" class="form-control" name="q">
                                    </div>
                                </form>
                             </div>
                            <!-- messages & alerts -->
                            {% for message in messages %}
                                <p style="margin-top: 15px;" id="fadeout" class="text-success font-weight-bold text-xs">
                                    {{ message }}
                                 </p>
                            {% endfor%}
                            <!-- /messages & alerts -->
                         </div>
                     </div>

                        <div class="table-responsive" style="padding: 0px 20px;">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr class="headings">
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Full Name</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Username</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Password</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Admin Class</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for object in object_list %}
                                    <tr>
                                        <td>
                                            <p class="text-xs text-secondary font-weight-bold mb-0">{{ object.lastname }}, {{ object.firstname }}</p>
                                        </td>
                                        <td class="text-center">
                                            <p class="text-xs text-secondary mb-0">{{ object.username }}</p>
                                        </td>
                                        <td class="text-center">
                                            <p class="text-xs text-secondary mb-0">{{ object.password }}</p>
                                        </td>
                                        <td class="text-center text-sm">
                                            <span {% if object.admin_class == 'Super Administrator' %} class="badge badge-sm shadow-primary" 
                                            style="background-color: rgba(255, 66, 0, 0.9);" {% else %} class="badge badge-sm shadow-warning bg-gradient-warning"
                                            {% endif %} "> {{ object.admin_class }} </span>
                                       </td>
                                        <td class="text-center">
                                            <a href="admin_list/{{ object.id }}"
                                                class="btn btn-link px-3 mb-0" style="color: #FF9001; font-size: 10px;" 
                                                data-toggle="tooltip">
                                                <i class="material-icons text-sm me-2">edit</i>Edit</a>

                                            <!-- <a href="delete_bed/{{ object.id }}"
                                                class="btn btn-link text-danger px-3 mb-0"
                                                data-toggle="tooltip" style="font-size: 10px;">
                                                <i class="material-icons text-sm me-2">delete</i>Delete</a>     -->
                                        </td>
                                    </tr>

                                    {% empty %}
                                    <td class="text-sm" style="color: rgba(163, 167, 185, 0.8);"> <br> No data available in table.</td>
                                    {% endfor %}


                                </tbody>
                            </table>
                            <span class="mb-0 text-link text-xs ">Total Number of 
                                <span class="text-sm font-weight-bolder" style="color: #FF4200;">
                                    {% if admins != empty %} {{ admins }} {% else %} 0 {% endif %}</span>Admins.
                                <span class="text-sm font-weight-bolder" style="color: #FF4200;">
                                    {% if superadmins != empty %} {{ superadmins }} {% else %} 0 {% endif %}</span>Super Admins and
                                <span class="text-sm font-weight-bolder" style="color: #FF4200;">
                                    {% if otheradmins != empty %} {{ otheradmins }} {% else %} 0 {% endif %}</span>Other Admins.
                            </span>  
                            {% include 'includes/pagination.html' %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>

<script>
    var milliseconds = 3000;

    setTimeout(function() {
      document.getElementById('fadeout').remove();
      }, milliseconds);

      $( "#myselect option:selected" ).text();
  </script>

{% endblock content%}