{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="shadow-primary border-radius-lg pt-4 pb-3" style="background-color: #FF4200;">
                            <h6 class="text-white ps-3">List of Beds</h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                             <div class="col-sm-2">
                                 <div class="pull-right">
                                     <a href="{% url 'BedAdd' %}" class="btn text-white mt-4 w-100" style="background-color: #FF4200;">Add Bed</a>
                                 </div>
                             </div>
 
                             <div class="col-sm-7"></div>

                             
                            <style>

                                .input-group.input-group-outline.is-focused .form-label+.form-control,
                                .input-group.input-group-outline.is-filled .form-label+.form-control {
                                border-color: #FF9001 !important;
                                border-top-color: transparent !important;
                                box-shadow: inset 1px 0 #FF9001, inset -1px 0 #FF9001, inset 0 -1px #FF9001;
                            }
        
                                .input-group.input-group-outline.is-focused .form-label,
                                .input-group.input-group-outline.is-filled .form-label {
                                width: 100%;
                                height: 100%;
                                font-size: 0.6875rem !important;
                                color: #FF9001;
                                display: flex;
                                line-height: 1.25 !important;
                            }
        
                                .input-group.input-group-outline.is-focused .form-label:before,
                                .input-group.input-group-outline.is-focused .form-label:after,
                                .input-group.input-group-outline.is-filled .form-label:before,
                                .input-group.input-group-outline.is-filled .form-label:after {
                                opacity: 1;
                            }
        
                                .input-group.input-group-outline.is-focused .form-label:before,
                                .input-group.input-group-outline.is-focused .form-label:after,
                                .input-group.input-group-outline.is-filled .form-label:before,
                                .input-group.input-group-outline.is-filled .form-label:after {
                                border-top-color: #FF9001;
                                box-shadow: inset 0 1px #FF9001;
                            }
                            </style>
                             
                             <div class="col-sm-3">
                                <form action="{% url 'BedList' %}" method="get"> 
                                    <div class="input-group input-group-outline">
                                        <label class="form-label">Search bed...</label>
                                        <input type="text" class="form-control" name="q">
                                    </div>
                                </form>
                             </div>
                         </div>
                     </div>
                        <div class="table-responsive" style="padding: 0px 20px;">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr class="headings">
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Dorm</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Room</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Bed Code</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Price</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Status</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for object in object_list %}
                                    <tr>
                                        <td>
                                            <p class="text-xs text-secondary font-weight-bold mb-0">{{object.room.dorm_name}}</p>
                                        </td>
                                        <td class="text-center">
                                            <p class="text-xs text-secondary mb-0">{{ object.room }}</p>
                                        </td>
                                        <td class="text-center">
                                            <p class="text-xs text-secondary font-weight-bold mb-0">{{ object.bed_code }}</p>
                                        </td>
                                        <td class="text-center">
                                            <p class="text-xs text-secondary mb-0">P {{ object.price }}.00</p>
                                        </td>
                                        <td class="text-center text-sm">
                                             <span {% if object.bed_status == 'Occupied' %} class="badge badge-sm" style="background-color: #4B4B4B;" {% else %} class="badge badge-sm" style="background-color: #FF4200;" {% endif %} "> {{ object.bed_status }} </span>
                                        </td>
                                        <td class="text-center">
                                            <a href="bed_list/{{ object.id }}"
                                                class="btn btn-link px-3 mb-0" style="color: #FF9001; font-size: 10px;" 
                                                data-toggle="tooltip">
                                                <i class="material-icons text-sm me-2">edit</i>Edit</a>

                                            <!-- <a href="delete_bed/{{ object.id }}"
                                                class="btn btn-link text-danger px-3 mb-0"
                                                data-toggle="tooltip" style="font-size: 10px;">
                                                <i class="material-icons text-sm me-2">delete</i>Delete</a> -->
                                        </td>   
                                    </tr>

                                    {% empty %}
                                    <td class="text-sm" style="color: rgba(163, 167, 185, 0.8);"> <br> No data available in table.</td>
                                    {% endfor %}


                                </tbody>
                            </table>
                            <span class="mb-0 text-link text-xs ">Total Number of 
                                <span class="text-sm font-weight-bolder" style="color: #FF4200;">
                                    {% if beds != empty %} {{ beds }} {% else %} 0 {% endif %}</span>Beds.
                                <span class="text-sm font-weight-bolder" style="color: #FF4200;">
                                    {% if vacant != empty %} {{ vacant }} {% else %} 0 {% endif %}</span>Vacant and 
                                <span class="text-sm font-weight-bolder" style="color: #FF4200;">
                                    {% if occupied != empty %} {{ occupied }} {% else %} 0 {% endif %}</span>Occupied. 
                            </span>  
                            {% include 'includes/pagination.html' %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>
{% endblock content%}