{% extends 'frontdesk_base.html' %}
{% load static %}


{% block content %}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="shadow-primary border-radius-lg pt-4 pb-3" style="background-color: rgba(255, 66, 0, 0.9);">
                            <h6 class="text-white text-capitalize ps-3">New Occupant Demerit Details</h6>
                        </div>
                    </div>
                   
                    <div class="card-body">

                    <!-- messages & alerts -->
                    {% if messages %}
                        {% for message in messages %}
                            {% if 'success' in message.tags %}
                                <p style="margin-top: 12px;" id="fadeout" class="text-success font-weight-bold text-sm">
                                    {{ message }}
                                </p>
                            {% else %}
                                <p style="margin-top: 12px;" id="fadeout" class="text-danger font-weight-bold text-sm">
                                    {{ message }}
                                </p>
                            {% endif %}
                        {% endfor%}
                    {% endif %}
                    <!-- /messages & alerts -->

                    <form role="form" class="" action="" method="post" novalidate>
                        {% csrf_token %}
                        
                        {% load widget_tweaks %}

                        {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in form.non_field_errors %}
                                <p{% if forloop.last %} class="mb-0" {% endif %}>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-6">
                                <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                                style="margin-bottom: 0px; margin-top: 17px;">Occupant Name</label>
                                <div class="input-group input-group-outline">
                                    {% render_field form.occupant class="form-control" %}
                                </div>

                                <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                                style="margin-bottom: 0px; margin-top: 17px;">Recorded Date</label>
                                <div class="input-group input-group-outline">
                                    {% render_field form.cur_date class="form-control" type="datetime-local"%}
                                </div>

                                <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                                style="margin-bottom: 0px; margin-top: 17px;">Demerit Description</label>
                                <div class="input-group input-group-outline" onclick="getOption()">
                                    {% render_field form.demerit_name class="form-control" id="select1"%}
                                </div>
                                <label class="text-secondary text-xs font-weight-bolder opacity-8" 
                                style="margin-bottom: 0px; font-style: italic;">Equivalent Demerit Point/s:
                                <b class="text-dark output" style="font-style: normal;"> 
                                {{ object.demerit_name.demerit_points }} </b> </label> <br>

                            </div>
                            <div class="col-6">
                                <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                                style="margin-bottom: 0px; margin-top: 17px;">Remarks / Description</label>
                                <div class="input-group input-group-outline">
                                    {% render_field form.remarks class="form-control" %}
                                </div>
                            </div>
                        </div>
               
                            <br />
                            <div class="form-group">
                                <div class="col-md-12 col-sm-3">
                                    <button type='submit' class="btn text-white shadow-primary" style="background-color: rgba(255, 66, 0, 0.9);">Save</button>
                                    &nbsp &nbsp &nbsp
                                    <a class="btn text-white shadow-secondary" style="background-color: #4B4B4B;" href="{% url 'FrontDeskOccupantDemeritList' %}">Cancel</a>
                                </div>
                            </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    var milliseconds = 3000;

    setTimeout(function() {
      document.getElementById('fadeout').remove();
      }, milliseconds);
</script>

<script>                       
    function getOption() {
        selectElement = document.querySelector('#select1');
        output = selectElement.options[selectElement.selectedIndex].textContent;

        switch(output) {
            // Demerits equivalent of 5 points
            case "Transfer to other rooms without permission":
            document.querySelector('.output').textContent = "5";
            break;

            case "Doing malicious conduct on dormitory premises":
            document.querySelector('.output').textContent = "5";
            break;

            case "Allowing opposite sex other than the parents to enter his/her room":
            document.querySelector('.output').textContent = "5";
            break;

            case "Possessing inside the dormitory any firearm, bladed weapon, or any kind of dangerous and deadly weapon; Provided, that this shall not possess the in connection with their studies and have a permit for the purpose":
            document.querySelector('.output').textContent = "5";
            break;

            case "Oral defamation against co-residents":
            document.querySelector('.output').textContent = "5";
            break;

            case "Bullying":
            document.querySelector('.output').textContent = "5";
            break;

            case "Threatening or any attempt to any member of the dormitory with physical harm; unlawfully preventing or threatening the dormitory residents or other dormitory officials to enter the dormitory premises":
            document.querySelector('.output').textContent = "5";
            break;
            // end of Demerits equivalent of 5 points

            // Demerits equivalent of 4 points
            case "Non-Securing of Dormitory forms i.e. curfew extension and renewal/clearance forms":
            document.querySelector('.output').textContent = "4";
            break;

            case "Non-Compliance related to room checking procedures":
            document.querySelector('.output').textContent = "4";
            break;

            case "Non-Compliance to the administrative and dormitory superintendents":
            document.querySelector('.output').textContent = "4";
            break;

            case "Bringing of appliances without the approval of the dormitory parent":
            document.querySelector('.output').textContent = "4";
            break;
            // end of Demerits equivalent of 4 points


            // Demerits equivalent of 3 points
            case "Laundering of clothes inside the dormitory":
            document.querySelector('.output').textContent = "3";
            break;

            case "Use electrical appliances, including ironing of clothes inside the dormitory":
            document.querySelector('.output').textContent = "3";
            break;

            case "Returning after curfew hour or very late from time in indicated on the curfew extension form":
            document.querySelector('.output').textContent = "3";
            break;

            case "Lending dormitory ID to the outsider and co-residents to enter the dormitory premises":
            document.querySelector('.output').textContent = "3";
            break;
            // end of Demerits equivalent of 3 points


            // Demerits equivalent of 2 points
            case "Using other personal things without permission to the owner":
            document.querySelector('.output').textContent = "2";
            break;

            case "Failure to do proper waste segregation and or throwing garbage in improper places":
            document.querySelector('.output').textContent = "2";
            break;

            case "Disturbing / Disrespect on the privacy of others including making noise after curfew hours and playing loud music inside the dormitory":
            document.querySelector('.output').textContent = "2";
            break;

            case "Vandalism":
            document.querySelector('.output').textContent = "2";
            break;
            // end of Demerits equivalent of 2 points


            // Demerits equivalent of 1 points
            case "Failure to register in logbook":
            document.querySelector('.output').textContent = "1";
            break;

            case "Not turning off the fan, aircon, lights and faucet":
            document.querySelector('.output').textContent = "1";
            break;

            case "Shouting and making nuisance inside the dormitory":
            document.querySelector('.output').textContent = "1";
            break;

            case "Bringing pets in the dormitory":
            document.querySelector('.output').textContent = "1";
            break;

            case "Walking around beyond time limits (11:00 PM only)":
            document.querySelector('.output').textContent = "1";
            break;
            // end of Demerits equivalent of 1 points


            // THE NUN
            case "":
            document.querySelector('.output').textContent = "0";
            break;

            default:
            document.querySelector('.output').textContent = "0";
            // end of THE NUN
        }
    }
</script>

{% endblock %}