{% extends 'base.html' %}

{% load static %}

{% block content %}
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid py-4">
      <h6 class="mb-0 font-weight-bold my-2" style="font-size: 25px;">Notifications</h6>
      <p class="text-xs text-secondary mb-0">Every notification available provided by the system from ther dormitory for is located here.</p>
      <br>
    <!-- Notifications -->
    <div class="alert alert-dismissible shadow-secondary text-black" role="alert" style="background-color: rgba(255, 255, 255, 0.7);">
        <span class="text-sm">
            Please <b>modify your account</b> such as your <b>Password, Security Question, Security Answer,</b>
            and <b>Recovery Email</b> for better security and experience in the application.
        </span>
        <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
          <span aria-hidden="true" style="color: black;">&times;</span>
        </button>
    </div>

    <div class="alert alert-dismissible shadow-secondary text-black" role="alert" style="background-color: rgba(255, 255, 255, 0.7);">
      <span class="text-sm">
          Please <b>modify your account</b> such as your <b>Password, Security Question, Security Answer,</b>
          and <b>Recovery Email</b> for better security and experience in the application.
      </span>
      <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true" style="color: black;">&times;</span>
      </button>
   </div>

   <div class="alert alert-dismissible shadow-secondary text-black" role="alert" style="background-color: rgba(255, 255, 255, 0.7);">
    <span class="text-sm">
        Please <b>modify your account</b> such as your <b>Password, Security Question, Security Answer,</b>
        and <b>Recovery Email</b> for better security and experience in the application.
    </span>
    <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
      <span aria-hidden="true" style="color: black;">&times;</span>
    </button>
  </div>
    <!-- end of Notifications -->

    </div>
  </main>

  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
  {% endblock content%}