{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="shadow-primary border-radius-lg pt-4 pb-3" style="background-color: #FF4200;">
                            <h6 class="text-white ps-3">List of Occupant with Demerits</h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                             <div class="col-sm-2">
                                 <div class="pull-right">
                                     <a href="{% url 'OccupantDemeritAdd' %}" class="btn text-white mt-4 w-100" style="background-color: #FF4200;">Add Demerit</a>
                                 </div>
                             </div>
 
                             <div class="col-sm-7"></div>

                             {% include 'includes/search_style.html' %}
                             
                             <div class="col-sm-3">
                                <form action="{% url 'OccupantDemeritList' %}" method="get"> 
                                    <div class="input-group input-group-outline">
                                        <label class="form-label">Search occupant...</label>
                                        <input type="text" class="form-control" name="q">
                                    </div>
                                </form>
                             </div>
                         </div>
                     </div>
                        <div class="table-responsive" style="padding: 0px 20px;">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr class="headings">
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Occupant Name</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Recorded Date</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Demerit Description</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Demerit Points</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Remarks / Description</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for object in object_list %}
                                    <tr>
                                        <td>
                                            <p class="text-xs text-secondary font-weight-bold mb-0">{{object.occupant }}</p>
                                        </td>
                                        <td class="text-center">
                                            <p class="text-xs text-secondary font-weight-bold mb-0">{{ object.cur_date }}</p>
                                        </td>
                                        <td class="text-center">
                                            <p class="text-xs text-secondary font-weight-bold mb-0">{{ object.demerit_name|truncatechars:20 }}</p>
                                        </td>
                                        <td class="text-center">
                                            <p class="text-xs text-secondary font-weight-bold mb-0">{{object.demerit_name.demerit_points }}</p>
                                        </td>
                                        <td class="text-center">
                                            <p class="text-xs text-secondary font-weight-bold mb-0">{{ object.remarks|truncatechars:20 }}</p>
                                        </td>
                                        <td class="text-center">
                                            <a href="occupant_demerit_list/{{ object.id }}"
                                                class="btn btn-link px-3 mb-0" style="color: #FF9001; font-size: 10px;" 
                                                data-toggle="tooltip">
                                                <i class="material-icons text-sm me-2">edit</i>Edit</a>

                                            <!-- <a href="delete_bed/{{ object.id }}"
                                                class="btn btn-link text-danger px-3 mb-0"
                                                data-toggle="tooltip" style="font-size: 10px;">
                                                <i class="material-icons text-sm me-2">delete</i>Delete</a>     -->
                                        </td>
                                    </tr>

                                    {% empty %}
                                    <td class="text-sm" style="color: rgba(163, 167, 185, 0.8);"> <br> No data available in table.</td>
                                    {% endfor %}


                                </tbody>
                            </table>
                            <span class="mb-0 text-link text-xs ">Total Number of 
                                <span class="text-sm font-weight-bolder" style="color: #FF4200;">
                                    {% if occupant_demerit != empty %} {{ occupant_demerit }} 
                                    {% else %} 0 {% endif %}</span>Occupant with Demerit.
                            </span>  
                            {% include 'includes/pagination.html' %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>
{% endblock content%}