{% extends 'base.html' %}
{% load static %}


{% block content %}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="shadow-primary border-radius-lg pt-4 pb-3" style="background-color: #FF4200;">
                            <h6 class="text-white text-capitalize ps-3">View Occupant Details</h6>
                        </div>
                    </div>
                    <div class="card-body">
                    <form class="" action="" method="post" novalidate>
                        {% csrf_token %}

                        {% load widget_tweaks %}
                        
                    <!-- Name and Dates -->
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-4">
                                    <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                                    style="margin-bottom: 0px;">Boarder Type</label> <br>
                                    <span class="badge badge-sm text-sm my-2" style="background-color: #FF4200;">{{ object.person.boarder_type }}</span>                      
                                </div>
                                
                                <div class="col-8">
                                    <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                                    style="margin-bottom: 0px;">Name</label> <br>
                                    <h6 class="mb-0 text-lg">{{ object.person.last_name }}, {{ object.person.first_name }}</h6>
                                    <p class="text-sm text-secondary font-weight-bold mb-0">{{ object.person.psu_email }}</p>
                                </div>
                            </div>

                        </div>

                        <div class="col-3">
                            <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                            style="margin-bottom: 0px;">Start Date</label> <br>
                            <span class="badge badge-sm" style="background-color: #FF4200; margin-bottom: 5px;">{{ object.start_date }}</span>
                            
                            <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                            style="margin-bottom: 0px;">Registered Date</label> <br>
                            <h6 class="mb-0 text-xs">{{ object.created_at }}</h6>  
                        </div>

                        <div class="col-3">
                            <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                            style="margin-bottom: 0px;">End Date</label> <br>
                            <span class="badge badge-sm" style="background-color: #FF4200; margin-bottom: 5px;">{{ object.end_date }}</span>

                            <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                            style="margin-bottom: 0px;">Updated Date</label> <br>
                            <h6 class="mb-0 text-xs">{{ object.updated_at }}</h6>   
                        </div>
                    </div>
                    <!-- end of Name and Dates -->

                    <!-- Bed Information -->
                    <p class="text-sm font-weight-bold mb-0 my-4 text-uppercase" style="color: rgba(255, 66, 0, 0.8);">Bed Information</p>
                    <hr style="border-top: 2px solid #FF4200; opacity: 0.5;" class="my-1">

                    <div class="row">
                        <div class="col-3 my-1">
                            <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                            style="margin-bottom: 0px;">Bed Code</label> <br>
                            <div class="input-group input-group-outline">
                                <label class="text-sm font-weight-bold mb-0 text-dark">{{ object.bed }}</h6> 
                            </div>                               
                         </div>

                        <div class="col-3 my-1">
                            <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                            style="margin-bottom: 0px;">Bed Price</label>
                            <div class="input-group input-group-outline">
                                <label class="text-sm font-weight-bold mb-0 text-dark">P {{ object.bed.price }}.00</h6>
                            </div>  
                        </div>

                        <div class="col-6 my-1">
                            <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                            style="margin-bottom: 0px;">Bed Description</label>
                            <div class="input-group input-group-outline">
                                <label class="text-sm font-weight-bold mb-0 text-dark">{{ object.bed.bed_description }}</h6> 
                            </div>  
                        </div>
                    </div>

                    <hr style="border-top: 1px solid #FF4200; opacity: 0.3;" class="my-1">

                    <div class="row">
                        <div class="col-3 my-1">
                            <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                            style="margin-bottom: 0px;">Room Name</label> <br>
                            <div class="input-group input-group-outline">
                                <label class="text-sm font-weight-bold mb-0 text-dark">{{ object.bed.room.room_name }}</h6> 
                            </div>                          
                        </div>

                        <div class="col-3 my-1">
                            <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                            style="margin-bottom: 0px;">Floor Level</label>
                            <div class="input-group input-group-outline">
                                {% if object.bed.room.floorlvl == "1" %}
                                    <label class="text-sm font-weight-bold mb-0 text-dark">1st Floor</h6>
                                {% elif object.bed.room.floorlvl == "2" %}
                                    <label class="text-sm font-weight-bold mb-0 text-dark">2nd Floor</h6>
                                {% elif object.bed.room.floorlvl == "3" %}
                                    <label class="text-sm font-weight-bold mb-0 text-dark">3rd Floor</h6>
                                {% endif %}       
                            </div>  
                        </div>

                        <div class="col-3 my-1">
                            <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                            style="margin-bottom: 0px;">Dorm Name</label>
                            <div class="input-group input-group-outline">
                                <label class="text-sm font-weight-bold mb-0 text-dark">{{ object.bed.room.dorm_name }}</h6> 
                            </div>  
                        </div>

                        <div class="col-3 my-1">
                            <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                            style="margin-bottom: 0px;">Dorm Descrition</label>
                            <div class="input-group input-group-outline">
                                <label class="text-sm font-weight-bold mb-0 text-dark">{{ object.bed.room.description }}</h6> 
                            </div>  
                        </div>
                    </div>
                    <!-- end of Bed Information -->

                    <!-- Billing Information -->
                    <p class="text-sm font-weight-bold mb-0 my-4 text-uppercase" style="color: rgba(255, 66, 0, 0.8);">Billing Information</p>
                    <hr style="border-top: 2px solid #FF4200; opacity: 0.5;" class="my-1">  

                    {% for object in billing %}
                    <div class="row">
                        <div class="col-2 my-1">
                            <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                            style="margin-bottom: 0px;">Bill Date</label>
                            <div class="input-group input-group-outline">
                                <label class="text-sm font-weight-bold mb-0 text-dark">{{ object.bill_date }}</h6>
                            </div>  
                        </div>

                        <div class="col-2 my-1">
                            <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                            style="margin-bottom: 0px;">Service Name</label>
                            <div class="input-group input-group-outline">
                                <label class="text-sm font-weight-bold mb-0 text-dark">{{ object.service }}</h6> 
                            </div>  
                        </div>

                        <div class="col-2 my-1">
                            <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                            style="margin-bottom: 0px;">Quantity</label>
                            <div class="input-group input-group-outline">
                                <label class="text-sm font-weight-bold mb-0 text-dark">{{ object.quantity }}</h6> 
                            </div>  
                        </div>

                        <div class="col-2 my-1">
                            <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                            style="margin-bottom: 0px;">Total Amount</label>
                            <div class="input-group input-group-outline">
                                <label class="text-sm font-weight-bold mb-0 text-dark">P {{ object.amount }}</h6> 
                            </div>  
                        </div>

                        <div class="col-2 my-1">
                            <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                            style="margin-bottom: 0px;">Description</label>
                            <div class="input-group input-group-outline">
                                <label class="text-sm font-weight-bold mb-0 text-dark">{{ object.description }}</h6> 
                            </div>  
                        </div>
                    </div>

                    {% empty %}
                    <p class="text-sm text-secondary text-center font-weight-bold opacity-6 my-7">Nothing yet to show</p>

                    {% endfor %}


                    <!-- end of Billing Information -->

                    <!-- Payment Information -->
                    <p class="text-sm font-weight-bold mb-0 my-4 text-uppercase" style="color: rgba(255, 66, 0, 0.8);">Payment Information</p>
                    <hr style="border-top: 2px solid #FF4200; opacity: 0.5;" class="my-1">

                    <p class="text-sm text-secondary text-center font-weight-bold opacity-6 my-7">Nothing yet to show</p>

                    <!-- end of Payment Information -->


                    <!-- Demerits Information -->
                    <p class="text-sm font-weight-bold mb-0 my-4 text-uppercase" style="color: rgba(255, 66, 0, 0.8);">Demerits Information</p>
                    <hr style="border-top: 2px solid #FF4200; opacity: 0.5;" class="my-1">

                    <p class="text-sm text-secondary text-center font-weight-bold opacity-6 my-7">Nothing yet to show</p>

                    <!-- end of Demerits Information -->
                    test
                    {% for object in billing_details %}
                        {{ object.bill_date }}
                        {{ object.description }}
                        {{ object.service.service_name }}
                        {{ object.quantity }}
                        {{ object.amount }}
                        <br>
                    {% endfor %}
                    
                    
                        <div class="ln_solid">
                            <br />
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-7"></div>
                                    <div class="col-md-5">
                                        &nbsp &nbsp &nbsp &nbsp 
                                        <a href="registration_view/{{ object.person.id }}" class="btn text-white" style="background-color: #FF4200;"> View Profile </a>
                                        &nbsp &nbsp &nbsp &nbsp 
                                        <a href="occupant_list/{{ object.id }}" class="btn text-white" style="background-color: #FF9001;"> Edit </a>
                                        &nbsp &nbsp &nbsp &nbsp
                                        <a class="btn text-white" style="background-color: #4b4b4b;" href="{% url 'OccupantList' %}">Back</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}