{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="shadow-primary border-radius-lg pt-4 pb-3" style="background-color: #FF4200;">
                            <h6 class="text-white ps-3">List of Registration</h6>
                        </div>
                    </div>

                    <style>

                        .input-group.input-group-outline.is-focused .form-label+.form-control,
                        .input-group.input-group-outline.is-filled .form-label+.form-control {
                        border-color: #FF9001 !important;
                        border-top-color: transparent !important;
                        box-shadow: inset 1px 0 #FF9001, inset -1px 0 #FF9001, inset 0 -1px #FF9001;
                    }

                        .input-group.input-group-outline.is-focused .form-label,
                        .input-group.input-group-outline.is-filled .form-label {
                        width: 100%;
                        height: 100%;
                        font-size: 0.6875rem !important;
                        color: #FF9001;
                        display: flex;
                        line-height: 1.25 !important;
                    }

                        .input-group.input-group-outline.is-focused .form-label:before,
                        .input-group.input-group-outline.is-focused .form-label:after,
                        .input-group.input-group-outline.is-filled .form-label:before,
                        .input-group.input-group-outline.is-filled .form-label:after {
                        opacity: 1;
                    }

                        .input-group.input-group-outline.is-focused .form-label:before,
                        .input-group.input-group-outline.is-focused .form-label:after,
                        .input-group.input-group-outline.is-filled .form-label:before,
                        .input-group.input-group-outline.is-filled .form-label:after {
                        border-top-color: #FF9001;
                        box-shadow: inset 0 1px #FF9001;
                    }
                    </style>

                    <div class="card-body">
                       <div class="row">
                            <div class="col-sm-2">
                                <div class="pull-right">
                                <a href="{% url 'RegistrationAdd' %}" class="btn mt-4 w-100 text-white" 
                                style="background-color: #FF4200;">Register</a>
                                </div>
                            </div>

                            <div class="col-sm-7"></div>
                            
                            <div class="col-sm-3">
                                <form action="{% url 'RegistrationList' %}" method="get"> 
                                    <div class="input-group input-group-outline">
                                        <label class="form-label">Search student...</label>
                                        <input type="text" class="form-control" name="q">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                        <div class="table-responsive" style="padding: 0px 20px;">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr class="headings">
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Status</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Name</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Program</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Boarder Type</th>
                                        <!-- <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Contact Number</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Address</th> -->
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for object in object_list %}
                                    <tr>
                                        <td class="text-sm">
                                            {% if object.Field1 == 0 or object.Field2 == 0 or object.Field3 == 0 or object.Field4 == 0 or object.Field5 == 0 or object.Field6 == 0 or object.Field7 == 0 %}
                                                <span class="badge badge-sm" style="background-color: #4B4B4B;">Incomplete</span>
                                            {% else %} 
                                                <span class="badge badge-sm" style="background-color: #FF4200;">Complete</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ object.last_name }}, {{ object.first_name }}</h6>
                                                <p class="text-xs text-secondary mb-0">{{ object.psu_email }}</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex flex-column justify-content-center">
                                                <p class="text-xs font-weight-bold mb-0">{{ object.program }}</p>
                                                <p class="text-xs text-secondary mb-0">{{ object.office_dept }}</p>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <p class="text-xs font-weight-bold mb-0">{{ object.boarder_type }}</p>
                                        </td>
                                        <!-- <td class="text-center">
                                            <p class="text-xs text-secondary mb-0">{{ object.contact_no }}</p>
                                        </td>
                                        <td>
                                            <p class="text-xs text-secondary mb-0">{{ object.address }}</p>
                                        </td> -->
                                        <td class="text-center">
                                            <a href="registration_list/{{ object.id }}"
                                                class="btn btn-link px-3 mb-0" style="color: #FF9001; font-size: 10px;" 
                                                data-toggle="tooltip">
                                                <i class="material-icons text-sm me-2">edit</i>Edit</a>

                                            <a href="registration_list/{{ object.id }}"
                                                class="btn btn-link px-3 mb-0" style="color: #4b4b4b; font-size: 10px;" 
                                                data-toggle="tooltip">
                                                <i class="material-icons text-sm me-2">
                                                assignment</i>View</a>
                                            
                                        </td>
                                    </tr>

                                    {% empty %}
                                    <td class="text-sm" style="color: rgba(163, 167, 185, 0.8);"> <br> No data available in table.</td>
                                    {% endfor %}


                                </tbody>
                            </table>
                            <br>
                            <span class="mb-0 text-link text-xs ">Total Number of 
                                <span class="text-sm font-weight-bolder" style="color: #FF4200;">
                                    {% if registered != empty %} {{ registered }} {% else %} 0 {% endif %}</span>Registered.
                                <span class="text-sm font-weight-bolder" style="color: #FF4200;">
                                    {% if complete != empty %} {{ complete }} {% else %} 0 {% endif %}</span>Complete and 
                                <span class="text-sm font-weight-bolder" style="color: #FF4200;">
                                    {% if incomplete != empty %} {{ incomplete }} {% else %} 0 {% endif %}</span>Incomplete. 
                            </span>  
                            {% include 'includes/pagination.html' %}
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
</main>
{% endblock content%}