{% extends 'base.html' %}
{% load static %}


{% block content %}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="shadow-primary border-radius-lg pt-4 pb-3" style="background-color: #FF9001;">
                            <h6 class="text-white text-capitalize ps-3">Update Room Details</h6>
                        </div>
                    </div>
                    <div class="card-body">
                    <form class="" action="" method="post" novalidate>
                        {% csrf_token %}
                        {% include 'includes/form.html' %}
                        <div class="ln_solid">
                            <br />
                            <div class="form-group">
                                <div class="col-md-12 col-sm-3">
                                    <button type='submit' class="btn text-white" style="background-color: #FF9001;">Update</button>
                                    &nbsp &nbsp &nbsp
                                    <a class="btn text-white" style="background-color: #4b4b4b;" href="{% url 'RoomList' %}">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}