{% extends 'user_base.html' %}

{% load static %}

{% block content %}
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid py-4">
    <!-- Navbar -->
    {% include 'includes/user_topbar.html' %}
    <!-- End Navbar -->
    {% csrf_token %}

    {% load widget_tweaks %}

    {% load humanize %}
    
    <hr style="border-top: 2px solid #FF4200; margin: 0px; opacity: 70%;">
    {% for x in per %}
    <h6 class="mb-0 font-weight-bold my-4" style="font-size: 20px;">Welcome, {{ x.first_name }}</h6>
    <p class="text-xs text-secondary mb-0">Feel free to explore your account's different information.</p>
    {% endfor %}

    {% for x in occ %}
    <div class="row">
      <div class="col-sm-6 col-6">
        <div class="card my-4">
          <a style="color: #7B809A;">
              <h6 class="text-xs font-weight-bolder my-3 mb-0 px-3 text-uppercase opacity-9" 
              style="color: #FF4200;">Boarder Type</h6>
              <h6 class="font-weight-bolder my-2 mb-3 px-3" style="font-size: 20px;">{{ x.person__boarder_type }}</h6>
          </a>
        </div>

        <div class="card my-4">
          <a style="color: #7B809A;">
              <h6 class="text-xs font-weight-bolder my-3 mb-0 px-3 text-uppercase opacity-9" 
              style="color: #FF4200;">Bed Code</h6>
              <h6 class="font-weight-bolder my-2 mb-3 px-3" style="font-size: 20px;">{{ x.bed__bed_code }}</h6>
          </a>
        </div>
      </div>
      
      <div class="col-sm-6 col-6">
        <div class="card my-4">
          <a style="color: #7B809A;">
              <h6 class="text-xs font-weight-bolder my-3 mb-0 px-3 text-uppercase opacity-9" 
              style="color: #FF4200;">Dorm Name</h6>
              <h6 class="font-weight-bolder my-2 mb-3 px-3" style="font-size: 20px;">{{ x.bed__room__dorm_name}}</h6>
          </a>
        </div>

        <div class="card my-4">
          <a style="color: #7B809A;">
              <h6 class="text-xs font-weight-bolder my-3 mb-0 px-3 text-uppercase opacity-9" 
              style="color: #FF4200;">Room Name</h6>
              <h6 class="font-weight-bolder my-2 mb-3 px-3" style="font-size: 20px;">{{ x.bed__room__room_name }}</h6>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="card">
      <div class="card-header pb-0">
        <div class="row">
          <div class="col-lg-6 col-7">
            <h6>Demerit Points</h6>
            <p class="text-sm mb-0">
              <i class="fa fa-check" aria-hidden="true" style="color:#ff4200 ;"></i>
              <span class="font-weight-bold ms-1">5 points</span> this month
            </p>
          </div>
          <div class="col-lg-6 col-5 my-auto text-end">
          </div>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="table-responsive">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Year</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Month</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Points</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="d-flex px-2 py-1 justify-content-center">
                    <div class="d-flex flex-column">
                      <h6 class="mb-0 text-xs opacity-8">2022</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column">
                      <h6 class="mb-0 text-xs opacity-9">December</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="progress-wrapper w-100 mx-auto">
                    <div class="progress-info justify-content-center">
                      <div class="progress-percentage">
                        <span class="text-xs font-weight-bold">5</span>
                      </div>
                    </div>
                    <div class="progress">
                      <div class="progress-bar w-40 opacity-8" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                      style="background-color: #FF9001;"></div>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  <div class="d-flex px-2 py-1 justify-content-center">
                    <div class="d-flex flex-column">
                      <h6 class="mb-0 text-xs opacity-8">2022</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column">
                      <h6 class="mb-0 text-xs opacity-9">November</h6>
                    </div>
                  </div>
                </td>
                <td class="">
                  <div class="progress-wrapper w-100 mx-auto">
                    <div class="progress-info">
                      <div class="progress-percentage">
                        <span class="text-xs font-weight-bold">7.5</span>
                      </div>
                    </div>
                    <div class="progress">
                      <div class="progress-bar w-50 opacity-8" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                      style="background-color: #ff4200;"></div>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  <div class="d-flex px-2 py-1 justify-content-center">
                    <div class="d-flex flex-column">
                      <h6 class="mb-0 text-xs opacity-8">2022</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column">
                      <h6 class="mb-0 text-xs opacity-9">October</h6>
                    </div>
                  </div>
                </td>
                <td class="">
                  <div class="progress-wrapper w-100 mx-auto">
                    <div class="progress-info">
                      <div class="progress-percentage">
                        <span class="text-xs font-weight-bold">15</span>
                      </div>
                    </div>
                    <div class="progress">
                      <div class="progress-bar w-100 opacity-8" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                      style="background-color: #4b4b4b;"></div>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  <div class="d-flex px-2 py-1 justify-content-center">
                    <div class="d-flex flex-column">
                      <h6 class="mb-0 text-xs opacity-8">2022</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column">
                      <h6 class="mb-0 text-xs opacity-9">September</h6>
                    </div>
                  </div>
                </td>
                <td class="">
                  <div class="progress-wrapper w-100 mx-auto">
                    <div class="progress-info">
                      <div class="progress-percentage">
                        <span class="text-xs font-weight-bold">2</span>
                      </div>
                    </div>
                    <div class="progress">
                      <div class="progress-bar w-15 opacity-8" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"
                      style="background-color: #FF9001;"></div>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td>
                  <div class="d-flex px-2 py-1 justify-content-center">
                    <div class="d-flex flex-column">
                      <h6 class="mb-0 text-xs opacity-8">2022</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column">
                      <h6 class="mb-0 text-xs opacity-9">August</h6>
                    </div>
                  </div>
                </td>
                <td class="">
                  <div class="progress-wrapper w-100 mx-auto">
                    <div class="progress-info">
                      <div class="progress-percentage">
                        <span class="text-xs font-weight-bold">10</span>
                      </div>
                    </div>
                    <div class="progress">
                      <div class="progress-bar w-80 opacity-8" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                      style="background-color: #ff4200;"></div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <br>
        </div>
      </div>
    </div>

    </div>
  </main>

  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
  {% endblock content%}