{% extends 'user_base.html' %}

{% load static %}

{% block content %}
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <div class="container-fluid py-4">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" data-scroll="true">
      <div class="container-fluid py-1 px-0">
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <ul class="navbar-nav">
            <li class="nav-item d-xl-none d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
          </ul>
          <ul class="navbar-nav justify-content-end">
            <li class="nav-item d-xl-none text-sm d-flex align-items-center text-secondary 
            text-uppercase font-weight-bold">
               Date : {% now 'DATE_FORMAT' %} &nbsp
               <i class="material-icons opacity-10 text-md">today</i>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <hr style="border-top: 2px solid #FF4200; margin: 0px; opacity: 70%;">
    <h6 class="mb-0 font-weight-bold my-4" style="font-size: 25px;">Services</h6>
    <p class="text-xs text-secondary mb-0">Here are the list of services for you to avail.</p>

    <div class="row my-2">
        <div class="col-6">
        </div>
        <div class="col-6 text-end">
          <a class="btn mb-0 text-white" style="background-color: #FF4200;">Avail Service</a>
        </div>
    </div>

    {% csrf_token %}

    {% load widget_tweaks %}

    {% load humanize %}

    <div class="container" style="overflow: auto; height: 800px;">
    {% for object in available_services %}

        <div class="col-md-12 col-sm-12 col-12 my-5">
          <div class="card">
            <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape shadow-dark text-center border-radius-xl mt-n4 position-absolute" style="background-color: #FF4200;">
                  <i class="material-icons opacity-10">shopping_cart</i>
                </div>
            </div>
            <div class="card-body pt-0 p-3 mx-7">
              <h6 class="mb-0" style="color: #FF4200;">{{ object.service_name }}</h6>
              <h5 class="mb-0">P {{ object.base_amount }}</h5>
              <p class="text-xs text-secondary mb-0">This is just a sample description.</p>
              <hr class="horizontal dark my-3"> 
            </div>
          </div>
        </div>
        

    {% empty %}
    <p class="text-sm" style="color: rgba(163, 167, 185, 0.8);"> <br> No available services. </p>
    {% endfor %}
    </div>


  </main>

  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
  {% endblock content%}