{% extends 'user_base.html' %}

{% load static %}

{% block content %}
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid py-4">
    <!-- Navbar -->
    {% include 'includes/user_topbar.html' %}
    <!-- End Navbar -->
    <hr style="border-top: 2px solid #FF4200; margin: 0px; opacity: 70%;"> <br>

    <!-- Personal Information -->
    {% csrf_token %}
    <div class="row my-1">
        <div class="col-sm-8 col-8 col-md-8">
          <h6 class="mb-0" style="color: rgba(255, 66, 0, 0.8);">Personal Information</h6>
        </div>
        <div class="col-sm-4 col-4 col-md-4 text-end">
          <!-- <a href="javascript:;">
            <i class="fas fa-user-edit text-sm opacity-9" data-bs-toggle="tooltip" 
            data-bs-placement="top" title="Edit" style="color: rgba(255, 66, 0, 0.8);"></i>
          </a> -->
        </div>
    </div>

    <hr style="border-top: 2px solid #FF4200; opacity: 0.5;" class="my-1">

    {% for x in prof %}
    <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
    style="margin-bottom: 0px;">PSU Email</label>
    <div class="input-group input-group-outline">
        <label class="text-sm font-weight-bold mb-0 text-dark">{{ x.psu_email }}</label> 
    </div>  

    <hr style="border-top: 1px solid #FF4200; opacity: 0.3;" class="my-3">

    <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
    style="margin-bottom: 0px;">Full Name</label>
    <div class="input-group input-group-outline">
        {% if x.middle_name == None %}
          <label class="text-sm font-weight-bold mb-0 text-dark">{{ x.first_name }} {{ x.last_name }}</label>
        {% else %}
          <label class="text-sm font-weight-bold mb-0 text-dark">{{ x.first_name }} {{ x.middle_name }} {{ x.last_name }}</label>
        {% endif %}
    </div>  

    <hr style="border-top: 1px solid #FF4200; opacity: 0.3;" class="my-3">

    <div class="row">
        <div class="col-6 col-sm-6 col-md-6">
            <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
            style="margin-bottom: 0px;">Gender</label>
            <div class="input-group input-group-outline">
                <label class="text-sm font-weight-bold mb-0 text-dark">{{ x.gender }}</label> 
            </div> 
        </div>

        <div class="col-6 col-sm-6 col-md-6">
            <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
            style="margin-bottom: 0px;">Boarder Type</label>
            <div class="input-group input-group-outline">
                <label class="text-sm font-weight-bold mb-0 text-dark">{{ x.boarder_type}}</label> 
            </div>
        </div>
    </div>
    
    <hr style="border-top: 1px solid #FF4200; opacity: 0.3;" class="my-3">

    <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
    style="margin-bottom: 0px;">Program</label>
    <div class="input-group input-group-outline">
        <label class="text-sm font-weight-bold mb-0 text-dark">{{ x.program }}</label>
      </div>

      <hr style="border-top: 1px solid #FF4200; opacity: 0.3;" class="my-3">

      <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
      style="margin-bottom: 0px;">Office / Department</label>
      <div class="input-group input-group-outline">
          <label class="text-sm font-weight-bold mb-0 text-dark">{{ x.office_dept }}</label>
    </div>
    <!-- end of Personal Information -->

    <br>

    <!-- Contact Information -->
    <div class="row my-1">
        <div class="col-sm-8 col-8 col-md-8">
          <h6 class="mb-0" style="color: rgba(255, 66, 0, 0.8);">Contact Information</h6>
        </div>
        <div class="col-sm-4 col-4 col-md-4 text-end">
          <!-- <a href="javascript:;">
            <i class="fas fa-user-edit text-sm opacity-9" data-bs-toggle="tooltip" 
            data-bs-placement="top" title="Edit" style="color: rgba(255, 66, 0, 0.8);"></i>
          </a> -->
        </div>
    </div>

    <hr style="border-top: 2px solid #FF4200; opacity: 0.5;" class="my-1">

    <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
    style="margin-bottom: 0px;">Contact Number</label>
    <div class="input-group input-group-outline">
        <label class="text-sm font-weight-bold mb-0 text-dark">{{ x.contact_no }}</label> 
    </div> 

    <hr style="border-top: 1px solid #FF4200; opacity: 0.3;" class="my-3">

    <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
    style="margin-bottom: 0px;">Address</label>
    <div class="input-group input-group-outline">
        <label class="text-sm font-weight-bold mb-0 text-dark">{{ x.address }}</label> 
    </div> 

    <hr style="border-top: 1px solid #FF4200; opacity: 0.3;" class="my-3">

    <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
    style="margin-bottom: 0px;">City</label>
    <div class="input-group input-group-outline">
        <label class="text-sm font-weight-bold mb-0 text-dark">{{ x.city }}</label> 
    </div> 

    <hr style="border-top: 1px solid #FF4200; opacity: 0.3;" class="my-3">

    <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
    style="margin-bottom: 0px;">Municipality</label>
    <div class="input-group input-group-outline">
        <label class="text-sm font-weight-bold mb-0 text-dark">{{ x.municipality }}</label> 
    </div> 

    <hr style="border-top: 1px solid #FF4200; opacity: 0.3;" class="my-3">

    <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
    style="margin-bottom: 0px;">Province</label>
    <div class="input-group input-group-outline">
        <label class="text-sm font-weight-bold mb-0 text-dark">{{ x.province }}</label> 
    </div>  

    <hr style="border-top: 1px solid #FF4200; opacity: 0.3;" class="my-3">

    <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
    style="margin-bottom: 0px;">Country</label>
    <div class="input-group input-group-outline">
        <label class="text-sm font-weight-bold mb-0 text-dark">{{ x.country }}</label> 
    </div>  
    <!-- end of Personal Information -->

    <br>

    <!-- Guardian Information -->
    <div class="row my-1">
        <div class="col-sm-8 col-8 col-md-8">
          <h6 class="mb-0" style="color: rgba(255, 66, 0, 0.8);">Guardian Information</h6>
        </div>
        <div class="col-sm-4 col-4 col-md-4 text-end">
          <!-- <a href="javascript:;">
            <i class="fas fa-user-edit text-sm opacity-9" data-bs-toggle="tooltip" 
            data-bs-placement="top" title="Edit" style="color: rgba(255, 66, 0, 0.8);"></i>
          </a> -->
        </div>
    </div>

    <hr style="border-top: 2px solid #FF4200; opacity: 0.5;" class="my-1">

    <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
    style="margin-bottom: 0px;">Full Name</label>
    <div class="input-group input-group-outline">
        <label class="text-sm font-weight-bold mb-0 text-dark">{{ x.guardian_first_name }} {{ x.guardian_last_name }}</label> 
    </div>  

    <hr style="border-top: 1px solid #FF4200; opacity: 0.3;" class="my-3">
    
    <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
    style="margin-bottom: 0px;">Contact Number</label>
    <div class="input-group input-group-outline">
        <label class="text-sm font-weight-bold mb-0 text-dark">{{ x.guardian_contact_no }}</label> 
    </div>  

    <hr style="border-top: 1px solid #FF4200; opacity: 0.3;" class="my-3">

    <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
    style="margin-bottom: 0px;">Email Address</label>
    <div class="input-group input-group-outline">
        <label class="text-sm font-weight-bold mb-0 text-dark">{{ x.guardian_email_address }}</label> 
    </div> 

    <hr style="border-top: 1px solid #FF4200; opacity: 0.3;" class="my-3">

    <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
    style="margin-bottom: 0px;">Present Address</label>
    <div class="input-group input-group-outline">
        <label class="text-sm font-weight-bold mb-0 text-dark">{{ x.guardian_present_address }}</label> 
    </div>  
    {% endfor %}
    <!-- end of Guardian Information -->

    <br>

    <!-- Admission Requirements -->
    <!-- <div class="row my-1">
        <div class="col-sm-8 col-8 col-md-8">
          <h6 class="mb-0" style="color: rgba(255, 66, 0, 0.8);">Admission Requirements</h6>
        </div>
        <div class="col-sm-4 col-4 col-md-4 text-end">
          <a href="javascript:;">
            <i class="fas fa-user-edit text-sm opacity-9" data-bs-toggle="tooltip" 
            data-bs-placement="top" title="Edit" style="color: rgba(255, 66, 0, 0.8);"></i>
          </a>
        </div>
    </div>

    <hr style="border-top: 2px solid #FF4200; opacity: 0.5;" class="my-1">

    <div class="form-check form-switch ps-3" style="margin-top: 25px;">
        <div class="form-check form-switch ps-0">
            <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault" checked>
            <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault">
                Two pieces 2"x2" coloured ID pictures 
                taken not more than six months prior to the signing of the contract</label>
         </div>

         <div class="form-check form-switch ps-0">
            <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault" checked>
            <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault">
                Medical Certificate from the University physician</label>
         </div>

         <div class="form-check form-switch ps-0">
            <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault" checked>
            <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault">
                Fully accomplished application form (form OIA-OID)</label>
         </div>

         <div class="form-check form-switch ps-0">
            <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault" checked>
            <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault">
                Special power of attorney (SPA) for guardian</label>
         </div>

         <div class="form-check form-switch ps-0">
            <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault" checked>
            <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault">
                Photocopy of the University Identification card 
                valid on the school year enrolled</label>
         </div>

         <div class="form-check form-switch ps-0">
            <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault" checked>
            <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault">
                Certificate of Enrollment</label>
         </div>

         <div class="form-check form-switch ps-0">
            <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault" checked>
            <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault">
                Photocopy of the dormitory ID</label>
         </div>
    </div> -->
    <!-- end of Admission Requirements -->
    </div>
  </main>

  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
  {% endblock content%}