{% extends 'user_base.html' %}

{% load static %}

{% block content %}
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid py-4">
    <!-- Navbar -->
    {% include 'includes/user_topbar.html' %}
    <!-- End Navbar -->
    <hr style="border-top: 2px solid #FF4200; margin: 0px; opacity: 70%;">
    <h6 class="mb-0 font-weight-bold my-4" style="font-size: 25px;">Services</h6>
    <p class="text-xs text-secondary mb-0">Here are the list of services for you to avail.</p>

    <div class="row my-2">
        <div class="col-6">
        </div>
        <div class="col-6 text-end">
          <a class="btn mb-0 text-white" style="background-color: #FF4200;">Avail Service</a>
        </div>
    </div>

    <br>
    

    {% csrf_token %}

    {% load widget_tweaks %}

    {% load humanize %}

    {% for object in available_services %}

    <div class="float-start col-md-6 col-6 col-sm-6">
      <div class="card mx-3 p-2 mb-4 align-items-center justify-content-center">
        <div class="card-header mx-4 p-3">
          <div class="icon icon-shape icon-lg shadow text-center border-radius-lg" style="background-color: #FF4200;">
            <i class="material-icons opacity-10">shopping_cart</i>
          </div>
        </div>
        <div class="card-body pt-0 p-3 text-center">
          <h6 class="text-center mb-0">{{ object.service_name }}</h6>
          <hr class="horizontal dark my-3">
          <h5 class="mb-0 text-lg opacity-9">P {{ object.base_amount }}</h5>
        </div>
      </div>
    </div>
          
    {% empty %}
    <p class="text-sm" style="color: rgba(163, 167, 185, 0.8);"> <br> No available services. </p>
    {% endfor %}

    </div>
  </main>

  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
  {% endblock content%}