{% extends 'user_base.html' %}

{% load static %}

{% block content %}
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid py-4">
    <!-- Navbar -->
    {% include 'includes/user_topbar.html' %}
    <!-- End Navbar -->
    <hr style="border-top: 2px solid #FF4200; margin: 0px; opacity: 70%;">

    <!-- Account Information -->
    {% csrf_token %}
    <div class="row my-1">
        <div class="col-sm-8 col-8 col-md-8 my-4">
            <h6 class="mb-0 font-weight-bold" style="font-size: 25px;">Account</h6>
            <p class="text-xs text-secondary mb-0">Your login credentials and account informations is here.</p>
        </div>
        <div class="col-sm-4 col-4 col-md-4 my-4 text-end">
          <a href="javascript:;">
            <i class="fas fa-user-edit text-sm opacity-9" data-bs-toggle="tooltip" 
            data-bs-placement="top" title="Edit" style="color: rgba(255, 66, 0, 0.8);"></i>
          </a>
        </div>
    </div>

    {% for x in acc %}
    <label class="text-uppercase text-xxs font-weight-bolder opacity-8" 
    style="margin-bottom: 0px; color: #FF4200;">Username</label>
    <div class="input-group input-group-outline">
        <label class="text-sm font-weight-bold mb-0 text-dark">{{ x.username }}</label> 
    </div>  
    
    <hr style="border-top: 1px solid #FF4200; opacity: 0.3;" class="my-3">

    <label class="text-uppercase text-xxs font-weight-bolder opacity-8" 
    style="margin-bottom: 0px; color: #FF4200;">Password</label>
    <div class="input-group input-group-outline">
        <label class="text-sm font-weight-bold mb-0 text-dark">{{ x.password }}</label> 
    </div>  
    
    <hr style="border-top: 1px solid #FF4200; opacity: 0.3;" class="my-3">  

    <label class="text-uppercase text-xxs font-weight-bolder opacity-8" 
    style="margin-bottom: 0px; color: #FF4200;">Security Question</label>
    <div class="input-group input-group-outline">
        <label class="text-sm font-weight-bold mb-0 text-dark">{{ x.security_question }}</label> 
    </div>  

    <hr style="border-top: 1px solid #FF4200; opacity: 0.3;" class="my-3">

    <label class="text-uppercase text-xxs font-weight-bolder opacity-8" 
    style="margin-bottom: 0px; color: #FF4200;">Security Answer</label>
    <div class="input-group input-group-outline">
        <label class="text-sm font-weight-bold mb-0 text-dark">{{ x.security_answer }}</label>
    </div> 

    <hr style="border-top: 1px solid #FF4200; opacity: 0.3;" class="my-3">

    <label class="text-uppercase text-xxs font-weight-bolder opacity-8" 
    style="margin-bottom: 0px; color: #FF4200;">Recovery Email</label>
    <div class="input-group input-group-outline">
        <label class="text-sm font-weight-bold mb-0 text-dark">{{ x.recovery_email }}</label> 
    </div>  
    {% endfor %}
    <!-- end of Account Information -->

    </div>
  </main>

  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
  {% endblock content%}