<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Occupant Information</title>

	<style>
		body{
			font-family: Arial, Helvetica, sans-serif;
		}
	
		img {
			height: 80px;
			width: 80px;
		}
	
		hr{
			margin-top: 0px;
		}

		.univ{
			font-size: 25px;
			font-weight: bold;
			padding-bottom: 30px;

		}

		.office{
			font-size: 14px;
		}

		.rel{
			font-size: 15px;
			font-weight: bold;
			color: #101010;
		}

		.rel2{
			font-size: 13px;
			color: #101010;
		}
	

	</style>
</head>
<!-- Body -->
<body>
    <div style="text-align: center; margin-bottom: 7px;">
		<img src="static/img/dormlogogrey.png" alt="">
	</div>
	

	<div style="text-align: center;">
		<span class="univ">Palawan State University Dormitory</span>
	</div>

	<div style="text-align: center; margin-top: 5px;">
		<span class="office">Front Desk Office • PSU Road, Tiniguiban Heights • 5300 Puerto Princesa • Philippines</span>
	</div>

	<br> <br>

    {% load humanize %}

    <h2 style="text-align: center; font-size: 15px;">STATEMENT OF ACCOUNT</h2> <br>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="49%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:15px;">Occupant Name</td>
                  </tr>
                  <tr>
                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:400; font-size:14px;">{{ occ_person.person.first_name }} {{ occ_person.person.middle_name }} {{ occ_person.person.last_name }}</td>
                  </tr>
                  <tr>
                    <td style="font-size:13px;">{{ occ_person.person.boarder_type }} Occupant</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td style="font-weight:600; font-size:15px;">PSU Email</td>
                  </tr>
                  <tr>
                    <td style="font-size:13px;">{{ occ_person.person.psu_email }}</td>
                  </tr>
                  <tr>
                    <td style="font-size:13px;">{{ occ_person.person.contact_no }}</td>
                  </tr> 
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  </table></td>
              </tr>
            </table></td>
            <td width="51%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td style="font-size:13px;"  align="right">&nbsp;</td>
              </tr>   
              <tr>
                <td style="font-size:13px;" align="right"></td>
              </tr>
              <tr>
                <td style="font-size:13px;" align="right">Start Date: <b> {{ occ_person.start_date }} </b> </td>
              </tr>
              <tr>
                <td style="font-size:13px;" align="right">End Date: <b> {{ occ_person.end_date }} </b> </td>
              </tr>
              <tr>
                <td style="font-size:13px;"align="right"></td>
              </tr>
              <tr>
                <td style="font-size:13px;" align="right">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:13px;"align="right"></td>
              </tr>
              <tr>
                <td style="font-size:13px;"align="right"></td>
              </tr>
              <tr>
                <td style="font-weight:600; font-size:15px;" align="right">Bed Information</td>
              </tr>
              <tr>
                <td style="font-weight:400; font-size:14px;" align="right">{{ occ_person.bed.bed_code }}</td>
              </tr>
                <td style="font-size:13px;" align="right">{{ occ_person.bed.bed_description }}</td>
              </tr>   
            </table></td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
            <tr>
            <td style="font-weight:600; font-size:11px; padding-bottom: 3px;">MANDATORY FEES</td>
            </tr>
          <tr>
            <td colspan="2"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; 
                border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333; padding-top: 5px;" width="34%" 
                height="32" align="center">Bill Date</td>
                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; 
                border-bottom:1px solid #333; border-right:1px solid #333; padding-top: 5px;" width="30%" align="center">Service Name</td>
                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; 
                border-bottom:1px solid #333; border-right:1px solid #333; padding-top: 5px;" width="30%" align="center">Amount</td>
                </tr>
            {% for object in table1 %}
              <tr>
                <td style="font-size:13px; border-bottom:1px solid #333; 
                border-left:1px solid #333; border-right:1px solid #333; padding-top: 5px;" height="32" align="center">{{ object.bill_date }}</td>
                <td style="font-size:13px; border-bottom:1px solid #333; 
                border-right:1px solid #333; padding-top: 5px;" align="center">{{ object.service.service_name }}</td>
                <td style="font-size:13px; border-bottom:1px solid #333; 
                border-right:1px solid #333; padding-top: 5px;" align="center">P {{ object.amount|intcomma }}</td>
            </tr>
            {% endfor %}
            </table>
            </td>
          </tr>

          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>

          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
            <tr>
            <td style="font-weight:600; font-size:11px; padding-bottom: 3px;">OTHER FEES</td>
            </tr>
          <tr>
            <td colspan="2"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; 
                border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333; padding-top: 5px;" width="34%" 
                height="32" align="center">Bill Date</td>
                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; 
                border-bottom:1px solid #333; border-right:1px solid #333; padding-top: 5px;" width="30%" align="center">Service Name</td>
                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; 
                border-bottom:1px solid #333; border-right:1px solid #333; padding-top: 5px;" width="30%" align="center">Quantity</td>
               <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; 
                border-bottom:1px solid #333; border-right:1px solid #333; padding-top: 5px;" width="30%" align="center">Amount</td>
                </tr>
            {% for object in table2 %}
              <tr>
                <td style="font-size:13px; border-bottom:1px solid #333; 
                border-left:1px solid #333; border-right:1px solid #333; padding-top: 5px;" height="32" align="center">{{ object.bill_date }}</td>
                <td style="font-size:13px; border-bottom:1px solid #333; 
                border-right:1px solid #333; padding-top: 5px;" align="center">{{ object.service.service_name }}</td>
                <td style="font-size:13px; border-bottom:1px solid #333; 
                border-right:1px solid #333; padding-top: 5px;" align="center">{{ object.quantity }}</td>
                <td style="font-size:13px; border-bottom:1px solid #333; 
                border-right:1px solid #333; padding-top: 5px;" align="center">P {{ object.amount|intcomma }}</td>
              </tr>
              {% empty %}
              <tr>
              <td style="font-size:11px; padding-top: 10px;">No data available in table </td>
              </tr>
            {% endfor %}
            </table>

            </td>
          </tr>

          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>

          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
            <tr>
            <td style="font-weight:600; font-size:11px; padding-bottom: 3px;">PAYMENT</td>
            </tr>
          <tr>
            <td colspan="2"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; 
                border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333; padding-top: 5px;" width="34%" 
                height="32" align="center">Payment Date</td>
                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; 
                border-bottom:1px solid #333; border-right:1px solid #333; padding-top: 5px;" width="30%" align="center">Payment Amount</td>
                <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; 
                border-bottom:1px solid #333; border-right:1px solid #333; padding-top: 5px;" width="30%" align="center">Official Receipt Number</td>
                </tr>
            {% for object in table3 %}
              <tr>
                <td style="font-size:13px; border-bottom:1px solid #333; 
                border-left:1px solid #333; border-right:1px solid #333; padding-top: 5px;" height="32" align="center">{{ object.payment_date }}</td>
                <td style="font-size:13px; border-bottom:1px solid #333; 
                border-right:1px solid #333; padding-top: 5px;" align="center">{{ object.amount|intcomma }}</td>
                <td style="font-size:13px; border-bottom:1px solid #333; 
                border-right:1px solid #333; padding-top: 5px;" align="center">{{ object.receipt_no }}</td>
              </tr>
              {% empty %}
              <tr>
              <td style="font-size:11px; padding-top: 10px;">No data available in table </td>
              </tr>
            {% endfor %}
            </table>

            </td>
          </tr>

          <tr>
            <td colspan="2">&nbsp;</td>
          </tr> 
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>

          <tr>
            <td colspan="2"><hr></td>
          </tr>

          <tr>
            <td style="font-size:13px; padding-top: 5px;" colspan="2" align="right">Total Amount of Bills:  <b> P {{ total_bills_amount|intcomma }} </b> </td>
          </tr>

          <tr>
            <td style="font-size:13px; padding-top: 3px;" colspan="2" align="right">Total Amount of Payment:  <b> P {{ total_payment_amount|intcomma }} </b> </td>
          </tr>

          <tr>
            <td colspan="2"><hr></td>
          </tr>

          {% if remaining_balance >= 0 %}
          <tr>
            <td style="font-size:15px; padding-top: 3px;" colspan="2" align="right"><b> Remaining Balance: P {{ remaining_balance|intcomma }}</b> </td>
          </tr>
          {% else %}
          <tr>
            <td style="font-size:15px; padding-top: 3px;" colspan="2" align="right"> <b> Remaining Change : P {{ remaining_balance|intcomma|slice:"1:" }}</b> </td>
          </tr>
          {% endif %}

          <tr>
            <td style=" font-weight:600; font-size:13px;" colspan="2">Please Note:</td>
          </tr>
          <tr>
            <td style="font-size:13px;" colspan="2">Dear Occupant, the bill payment will reflect in next 48 hours in your account. Please contact our accounting staff for any queries regarding this.</td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px;" colspan="2">Thank you for staying to our dormitory</td>
          </tr>
            <td colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td style="font-size:13px;" colspan="2" align="center">(This is computer generated receipt and does not require physical signature.) </td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
        </table>

<!-- end of Body -->

<!-- Footer -->
<footer>

</footer>
<!-- end of Footer -->
</html>