{% load widget_tweaks %}

{% if form.non_field_errors %}
<div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
        <p{% if forloop.last %} class="mb-0" {% endif %}>{{ error }}</p>
    {% endfor %}
</div>
{% endif %}

<!-- Personal Information -->
<div class="row">
    <div class="col-6">
        <p class="text-sm font-weight-bold mb-0">Personal Information</p>
        <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
        style="margin-bottom: 0px; margin-top: 17px;">PSU Email <span style="color: red;">*</span> </label> 
        <div class="input-group input-group-outline">
            {% render_field form.psu_email class="form-control" id="psu_email"%}
        </div>
        <label class="text-secondary opacity-8" style="margin-bottom: 0px; font-style: italic; 
        font-size: 11px;"> * Must be a valid corporate <b>PSU</b> email address.</label> <br>
        
        <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
        style="margin-bottom: 0px; margin-top: 10px;">First Name <span style="color: red;">*</span> </label>
        <div class="input-group input-group-outline">
            {% render_field form.first_name class="form-control" id="first_name"%}
        </div>                   
    </div>

    <div class="col-6">
        <p class="text-sm font-weight-bold mb-0 hidden text-white">Personal Information</p>
        <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9"
        style="margin-bottom: 0px; margin-top: 17px;">Last Name <span style="color: red;">*</span> </label>
        <div class="input-group input-group-outline">
            {% render_field form.last_name class="form-control" id="last_name"%}
        </div> <br>
        
        <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9"
        style="margin-bottom: 0px; margin-top: 10px;">Middle Name</label>
        <div class="input-group input-group-outline">
            {% render_field form.middle_name class="form-control"%}
        </div>
    </div>
</div>

<div class="row" style="margin-bottom: 5px;">
    <div class="col-2">
        <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9"
        style="margin-bottom: 0px; margin-top: 20px;">Gender <span style="color: red;">*</span> </label>
        <div class="input-group input-group-outline">
            {% render_field form.gender class="form-control" id="gender"%}
        </div>
    </div>

    <div class="col-2">
        <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9"
        style="margin-bottom: 0px; margin-top: 20px;">Boarder Type <span style="color: red;">*</span> </label>
        <div class="input-group input-group-outline">
            {% render_field form.boarder_type class="form-control" id="boarder_type"%}
        </div>
    </div>

    {% include 'includes/select2.html' %}
                            
    <div class="col-8">
        <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9"
        style="margin-bottom: 0px; margin-top: 20px;">Program <span style="color: red;">*</span> </label>
        <div class="input-group input-group-outline" onChange="getOfficeDept()">
            <select class="form-control program-list" name="program" id="program" data-placeholder="">
                {% for program in form.program %}
                    <option value="{{ program.id }}" >{{ program }}</option>
                {% endfor %}
            </select>
        </div>

        <label class="text-secondary text-xs font-weight-bolder opacity-8" 
        style="margin-bottom: 0px; font-style: italic;">Office / Department:
        <b class="text-dark officeDept" style="font-style: normal;"> 
        {{ object.office_dept }} </b> </label> <br>
    </div>
</div>
<!-- end of Personal Information -->

<hr style="border-top: 1px solid #4b4b4b; opacity: 0.2; margin-top: 35px; margin-bottom: 10px;">

<!-- Contact Information -->
<div class="row">
    <div class="col-4 my-3">
        <p class="text-sm font-weight-bold mb-0">Contact Information</p>
        <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9"
        style="margin-top: 17px; margin-bottom: 0px;">Contact Number <span style="color: red;">*</span> </label>
        <div class="input-group input-group-outline">
            {% render_field form.contact_no class="form-control" id="contact_no"%}
        </div>  
        <label class="text-secondary opacity-8" style="margin-bottom: 0px; font-style: italic; 
        font-size: 11px;">* Ex. <b>PH +63</b> start the input to <b>9</b>. Same goes to the others.</label> <br>             
    </div>

    <div class="col-8 my-3">
        <p class="text-sm font-weight-bold mb-0 text-white">Contact Information</p>
        <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9"
        style="margin-top: 17px; margin-bottom: 0px;">Address <span style="color: red;">*</span> </label>
        <div class="input-group input-group-outline">
            {% render_field form.address class="form-control" id="address"%}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9"
        style="margin-bottom: 0px;">City <span style="color: red;">*</span> </label>
        <div class="input-group input-group-outline">
            {% render_field form.city class="form-control" id="city"%}
        </div>
    </div>

    <div class="col-3">
        <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9"
        style="margin-bottom: 0px;">Municipality</label>
        <div class="input-group input-group-outline">
            <select class="form-control municipality-list" name="municipality" id="municipality" data-placeholder="">
                {% for municipality in form.municipality %}
                    <option value="{{ municipality.id }}" >{{ municipality }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
                            
    <div class="col-3">
        <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9"
        style="margin-bottom: 0px;">Province <span style="color: red;">*</span> </label>
        <div class="input-group input-group-outline">
            {% render_field form.province class="form-control" id="province"%}
        </div>
    </div>

    <div class="col-3">
        <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9"
        style="margin-bottom: 0px;">Country <span style="color: red;">*</span> </label>
        <div class="input-group input-group-outline">
            {% render_field form.country class="form-control" id="country"%}
        </div>
    </div>
</div>
<!-- end of Contact Information -->

<hr style="border-top: 1px solid #4b4b4b; opacity: 0.2; margin-top: 35px; margin-bottom: 10px;">

<!-- Guardian Information -->
<div class="row" >
    <div class="col-4 my-3">
        <p class="text-sm font-weight-bold mb-0">Guardian Information</p>
        <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9"
        style="margin-top: 17px; margin-bottom: 0px;">Guardian's First Name <span style="color: red;">*</span> </label>
        <div class="input-group input-group-outline">
            {% render_field form.guardian_first_name class="form-control" id="guardian_first_name"%}
        </div>               
    </div>

    <div class="col-4 my-3">
        <p class="text-sm font-weight-bold mb-0 text-white">Guardian Information</p>
        <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9"
        style="margin-top: 17px; margin-bottom: 0px;">Guardian's Last Name <span style="color: red;">*</span> </label>
        <div class="input-group input-group-outline">
            {% render_field form.guardian_last_name class="form-control" id="guardian_last_name"%}
        </div>               
    </div>

    <div class="col-4 my-3">
        <p class="text-sm font-weight-bold mb-0 text-white">Guardian Information</p>
        <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9"
        style="margin-top: 17px;">Guardian's Contact Number <span style="color: red;">*</span> </label>
        <div class="input-group input-group-outline">
            {% render_field form.guardian_contact_no class="form-control" id="guardian_contact_no"%}
        </div>
        <label class="text-secondary opacity-8" style="margin-bottom: 0px; font-style: italic; 
        font-size: 11px;">* Ex. <b>PH +63</b> start the input to <b>9</b>. Same goes to the others.</label> <br>                
    </div>
</div>

<div class="row">
    <div class="col-4">
        <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9"
        style="margin-bottom: 0px;">Guardian's Email Address <span style="color: red;">*</span> </label>
        <div class="input-group input-group-outline">
            {% render_field form.guardian_email_address class="form-control" id="guardian_email_address"%}
        </div> 
        
        <label class="text-secondary opacity-8" style="margin-bottom: 0px; font-style: italic; 
        font-size: 11px;"> * Must be a valid corporate email address.</label> <br>
    </div>

    <div class="col-8">
        <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9"
        style="margin-bottom: 0px;">Guardian's Address <span style="color: red;">*</span> </label>
        <div class="input-group input-group-outline">
            {% render_field form.guardian_present_address class="form-control" id="guardian_present_address"%}
        </div>               
    </div>
</div>
<!-- end of Guardian Information -->

<hr style="border-top: 1px solid #4b4b4b; opacity: 0.2; margin-top: 35px; margin-bottom: 10px;">
                        
<!-- Admission Requirements -->
<p class="text-sm font-weight-bold mb-0 my-4">Admission Requirements</p>

<div class="form-check form-switch ps-3 mb-3" style="margin-top: 17px;">
    <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault" onclick="toggle(this);">
    <label class="form-check-label text-body ms-4 text-truncate w-80 mb-0 font-weight-bold text-uppercase" 
    for="flexSwitchCheckDefault">Select All</label>
</div>

<div class="form-check form-switch ps-3 ms-3">
    {% render_field form.Field1 class="form-check-input ms-auto"%}
    <label class="form-check-label text-body ms-4 text-truncate w-80 mb-0" 
    for="flexxswitchCheckDefault">Two pieces 2"x2" coloured ID pictures 
    taken not more than six months prior to the signing of the contract</label>
</div>

<div class="form-check form-switch ps-3 my-3 ms-3">
    {% render_field form.Field2 class="form-check-input ms-auto"%}
    <label class="form-check-label text-body ms-4 text-truncate w-80 mb-0" 
    for="flexxswitchCheckDefault">Medical Certificate from the University physician</label>
</div>
                            
<div class="form-check form-switch ps-3 my-3 ms-3">
    {% render_field form.Field3 class="form-check-input ms-auto"%}
    <label class="form-check-label text-body ms-4 text-truncate w-80 mb-0" 
    for="flexxswitchCheckDefault">Fully accomplished application form (form OIA-OID)</label>
</div>

<div class="form-check form-switch ps-3 my-3 ms-3">
    {% render_field form.Field4 class="form-check-input ms-auto"%}
    <label class="form-check-label text-body ms-4 text-truncate w-80 mb-0" 
    for="flexxswitchCheckDefault">Special power of attorney (SPA) for guardian</label>
</div>

<div class="form-check form-switch ps-3 my-3 ms-3">
    {% render_field form.Field5 class="form-check-input ms-auto"%}
    <label class="form-check-label text-body ms-4 text-truncate w-80 mb-0" 
    for="flexxswitchCheckDefault">Photocopy of the University Identification card 
    valid on the school year enrolled</label>
</div>

<div class="form-check form-switch ps-3 my-3 ms-3">
    {% render_field form.Field6 class="form-check-input ms-auto"%}
    <label class="form-check-label text-body ms-4 text-truncate w-80 mb-0" 
    for="flexxswitchCheckDefault">Certificate of Enrollment</label>
</div>

<div class="form-check form-switch ps-3 my-3 ms-3">
    {% render_field form.Field7 class="form-check-input ms-auto"%}
    <label class="form-check-label text-body ms-4 text-truncate w-80 mb-0" 
    for="flexxswitchCheckDefault">Photocopy of the dormitory ID</label>
</div>
<!-- end of Admission Requirements -->

<script>

    $(document).ready(function() {
        $('.program-list').select2();
    });

    $(document).ready(function() {
        $('.municipality-list').select2();
    });

    function toggle(source) {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i] != source)
                checkboxes[i].checked = source.checked;
        }
    }
</script>

<script>
  
    function getOfficeDept() {
        selectElement = document.querySelector('#program');
        officeDept = selectElement.options[selectElement.selectedIndex].textContent;

        switch(officeDept) {
            case "Bachelor of Science in Social Work":
            document.querySelector('.officeDept').textContent = "Department of Behavioral Science";
            break;

            case "Bachelor of Science in Psychology":
            document.querySelector('.officeDept').textContent = "Department of Behavioral Science";
            break;

            case "Bachelor of Arts in Communication":
            document.querySelector('.officeDept').textContent = "Department of Behavioral Science";
            break;

            case "Bachelor of Arts in Political Science":
            document.querySelector('.officeDept').textContent = "Department of Social Sciences";
            break;

            case "Bachelor of Arts in Philippine Studies":
            document.querySelector('.officeDept').textContent = "Department of Foreign Language";
            break;

            case "Bachelor of Science in Biology Major in Medical Biology":
            document.querySelector('.officeDept').textContent = "Bio-Physical Science Department";
            break;

            case "Bachelor of Science in Marine Biology":
            document.querySelector('.officeDept').textContent = "Bio-Physical Science Department";
            break;

            case "Bachelor of Science in Environmental Science":
            document.querySelector('.officeDept').textContent = "Bio-Physical Science Department";
            break;

            case "Bachelor of Science in Information Technology":
            document.querySelector('.officeDept').textContent = "Computer Studies Department";
            break;

            case "Bachelor of Science in Computer Science":
            document.querySelector('.officeDept').textContent = "Computer Studies Department";
            break;

            case "Bachelor of Science in Physical Education":
            document.querySelector('.officeDept').textContent = "Department of Physical Education";
            break;

            case "Bachelor of Science in Elementary Education":
            document.querySelector('.officeDept').textContent = "Department of Elementary Education";
            break;

            case "Bachelor of Science in Secondary Education Major in Science":
            document.querySelector('.officeDept').textContent = "Department of Secondary Education";
            break;

            case "Bachelor of Science in Secondary Education Major in Math":
            document.querySelector('.officeDept').textContent = "Department of Secondary Education";
            break;

            case "Bachelor of Science in Secondary Education Major in English":
            document.querySelector('.officeDept').textContent = "Department of Secondary Education";
            break;

            case "Bachelor of Science in Secondary Education Major in Filipino":
            document.querySelector('.officeDept').textContent = "Department of Secondary Education";
            break;

            case "Bachelor of Science in Secondary Education Major in Social Studies":
            document.querySelector('.officeDept').textContent = "Department of Secondary Education";
            break;

            case "Bachelor of Science in Secondary Education Major in Values":
            document.querySelector('.officeDept').textContent = "Department of Secondary Education";
            break;

            case "Bachelor of Science in Accountancy":
            document.querySelector('.officeDept').textContent = "Department of Accountancy";
            break;

            case "Bachelor of Science in Management Accountancy":
            document.querySelector('.officeDept').textContent = "Department of Accountancy";
            break;

            case "Bachelor of Science in Entrepreneurship":
            document.querySelector('.officeDept').textContent = "Department of Marketing Management, Entrepreneurship, and Public Administration";
            break;

            case "Bachelor of Science in Business Administration  Major in Marketing Management":
            document.querySelector('.officeDept').textContent = "Department of Marketing Management, Entrepreneurship, and Public Administration";
            break;

            case "Bachelor of Science in Business Administration  Major in Public Administration":
            document.querySelector('.officeDept').textContent = "Department of Marketing Management, Entrepreneurship, and Public Administration";
            break;

            case "Bachelor of Science in Business Administration  Major in Financial Management":
            document.querySelector('.officeDept').textContent = "Department of Financial Management, Human Resource Management, and Business Economics";
            break;

            case "Bachelor of Science in Business Administration  Major in Human Resource Management":
            document.querySelector('.officeDept').textContent = "Department of Financial Management, Human Resource Management, and Business Economics";
            break;

            case "Bachelor of Science in Business Administration  Major in Business Economics":
            document.querySelector('.officeDept').textContent = "Department of Financial Management, Human Resource Management, and Business Economics";
            break;

            case "Bachelor of Science in Hospitality Management":
            document.querySelector('.officeDept').textContent = "Hospitality Management Department";
            break;

            case "Track - Culinary Arts and Kitchen Management":
            document.querySelector('.officeDept').textContent = "Hospitality Management Department";
            break;

            case "Bachelor of Science in Tourism Management":
            document.querySelector('.officeDept').textContent = "Tourism Management Department";
            break;

            case "Track - Hotel,Resort, and Club Management":
            document.querySelector('.officeDept').textContent = "Tourism Management Department";
            break;

            case "Bachelor of Science in Civil Engineering":
            document.querySelector('.officeDept').textContent = "Department of Civil Engineering";
            break;

            case "Bachelor of Science in Mechanical Engineering":
            document.querySelector('.officeDept').textContent = "Department of Mechanical Engineering";
            break;

            case "Bachelor of Science in Electrical Engineering":
            document.querySelector('.officeDept').textContent = "Department of Electrical Engineering";
            break;

            case "Bachelor of Science in Petroleum Engineering":
            document.querySelector('.officeDept').textContent = "Department of Petroleum Engineering";
            break;

            case "Bachelor of Science in Architecture":
            document.querySelector('.officeDept').textContent = "Department of Architecture";
            break;

            case "Bachelor of Science in Nursing":
            document.querySelector('.officeDept').textContent = "Department of Nursing";
            break;

            case "Diploma in Midwifery":
            document.querySelector('.officeDept').textContent = "Department of Midwifery";
            break;

            case "Bachelor of Science in Midwifery":
            document.querySelector('.officeDept').textContent = "Department of Midwifery";
            break;

            case "Bachelor of Science in Criminology":
            document.querySelector('.officeDept').textContent = "No Office / Department";
            break;

            // THE NUN
            case "":
            document.querySelector('.officeDept').textContent = "";
            break;

            default:
            document.querySelector('.officeDept').textContent = "";
            // end of THE NUN
        }
    }
</script>
