<style>
    .select2-selection__rendered {
        line-height: 39px !important;
        font-size: 14px;

    }
    
    .select2-container .select2-selection--single {
        height: 39px !important;
        border: 1px solid #d2d6da; 
        font-size: 14px;

    }
    .select2-selection__arrow {
        height: 39px !important;
        font-size: 14px;
        margin-right: 5px;

    }
    .select2-results__option { 
        font-size: 14px;
        padding-left: 10px;
    }

    .select2-search__field:focus{
        border-color: rgba(255, 66, 0, 0.6) !important;
        border-radius: 3px;
        outline: none;
        font-size: 15px;
    }

    .select2-search__field{
        border-radius: 3px;
        outline: none;
        font-size: 15px;
    }
</style>
