{% extends 'user/user_base.html' %}

{% load static %}

{% block content %}
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid py-4">
    <!-- Navbar -->
    {% include 'includes/user_topbar.html' %}
    <!-- End Navbar -->
    <hr style="border-top: 2px solid #FF4200; margin: 0px; opacity: 70%;">
    <h6 class="mb-0 font-weight-bold my-4" style="font-size: 25px;">Notifications</h6>
    <p class="text-xs text-secondary mb-0">Every notifications for you is located here.</p>
    <br>
    
    <!-- Notifications -->
    {% for message in messages %}
    <div class="alert alert-dismissible shadow-secondary text-white p-3 border-radius-lg" role="alert" style="background-color: rgba(255, 66, 0, 0.8);">
        <span class="text-xs">
            {{ message }}
        </span>
    </div>
    {% empty %}
    <p class="text-xs text-secondary font-weight-bold mb-0 text-center my-5 opacity-7">
    No notification showing yet. Feel free to explore other pages in the system.</p>
    {% endfor %}
    <!-- end of Notifications -->

    </div>
  </main>

  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
  {% endblock content%}