{% extends 'user/user_base.html' %}

{% load static %}

{% block content %}
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
    <div class="container-fluid py-4">
    <!-- Navbar -->
    {% include 'includes/user_topbar.html' %}
    <!-- End Navbar -->
    <hr style="border-top: 2px solid #FF4200; margin: 0px; opacity: 70%;">
   
    <h6 class="mb-0 font-weight-bold my-4" style="font-size: 25px;">Dormitory Rules and Regulations</h6>
    <p class="text-sm text-secondary mb-3 mt-1" style="text-align: justify;">
        These rules and regulations are not meant to deprive your 
        freedom in the dormitory but for your protection as its resident. 
        The following are the should do (do's) and the shouldn't (don'ts) 
        of the PSU Dormitory:
    </p>

    <h6 class="mb-0 font-weight-bold mt-1" style="font-size: 15px;">SHOULD DO (DO's)</h6>
    <ul>
        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Residents must register/ log in the logbook every time they 
                arrive and leave the dormitory premises.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Ask permission before doing anything to the dorm parents for approval.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                All residents must be inside their respective rooms by 11:00 p.m. 
                except when they need to use the study hall which is always open.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Residents who wish to leave the dormitory beyond the curfew hours must seek 
                permission from dorm supervisor and secure a Curfew Extension Form. Complete 
                all information in the Curfew Extension Form always. Abuse and failure to do 
                so will result in demerit points. (See. Sec. 13 
                Guidelines of Curfew Extension Form (CEF))
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                ln case of lost key, the resident must report the incident to the 
                Dorm parents within 24 hours. Resident should pay P200.OO for replacement.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Every dormitory room has one key for its occupants. Room key should be 
                surrendered to the dormitory parent every time they will leave the dormitory 
                premises.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Have their cell phone in case of emergency and should inform the dorm 
                parents about their mobile number.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Visitors are not allowed inside the room, except resident's parents and siblings.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Visitors shall be entertained at the lounge area until 8:00 pm (weekdays) 
                and 9:00 pm (weekends and holidays) only.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Observe curfew hours to avoid demerit points.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Sleep in his/her assigned room.            
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Always obey the dorm parents.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Respect one's privacy.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Write their names on all their personal belongings.           
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Always observe silence.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Always expected to follow the dormitory rules and dormitory obligations.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Can use the study hall only for reviewing and studying purposes only. 
                Provided, that the resident shall leave the hall always clean.           
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Attend meetings and gatherings of the dormitory.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Keep their money and valuable things properly.
                The management will not be held liable for any loss of things/items.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Keep the room clean and all must be in a proper place.          
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Waste segregation is strictly implemented.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Clean the dining table anytime they use it and put all the utensils they 
                used in the kitchen's sink.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Turn off the lights and fans when not in use.         
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Turn off gadgets such as laptop when not in use.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Conserve water and electricity as possible.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                During emergency, residents must immediately inform the dorm parents or 
                staff.
            </p>
        </li>
    </ul>

    <h6 class="mb-0 font-weight-bold mt-3" style="font-size: 15px;">SHOULD NOT DO (DON'TS)</h6>
    <ul>
        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Not logging in and out on the logbook.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                BOYS are not allowed to enter the Girls dormitory and Vice Versa.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Disturb others during the study time.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Play loud music and make noise at any time.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Going out during lights off (11:00 pm), except for an emergency case.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Sleep over with other residents other than their rooms mates is strictly prohibited.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Walking around beyond 11:00 pm outside dormitory boundaries.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Not turning off the appliances when not in use.            
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Allowing visitors to stay overnight in the dormitory.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Allowing outsider to enter the room of the residents.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Displaying disorderly conduct            
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Laundering of clothes inside the dormitory.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Cooking inside the room.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Use of electrical appliances, including ironing of clothes inside the dormitory premises.          
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Littering.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Noncompliance of waste segregation.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Vandalism.           
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Bullying.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Staying at friend's home or relatives during weekends should inform the 
                dorm parents and is therefore subject for approval.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Spreading rumors that damaging the reputation of other residents.          
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Switching of rooms are strictly prohibited. And should not do it 
                without permission from the dorm parents.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Do not move out room facilities without permission from the dorm parents.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Complaints about noisy individuals, destruction of dormitory property 
                and violation of dormitory rules from dorm parents and dormitory staff 
                will result in demerit points.       
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Stealing or attempting to steal money and other property.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Breaking rooms.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Any forms of gambling that involves money are strictly prohibited.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Not bring pets inside the dormitory.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Possession and bringing in of prohibited drugs and dangerous stuff.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Drinking alcohol and smoking are strictly prohibited.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Not quarrel, fight or be violent in any manner with other residents and dormitory officials.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Threatening and any attempt to any member of the dormitory with physical 
                harm; unlawfully preventing or threatening the dormitory residents or other 
                dormitory officials.
            </p>
        </li>

        <li>
            <p class="text-sm text-secondary mb-0 mt-1" style="text-align: justify;">
                Giving or lending dormitory ID to an outsider and co-residents to enter 
                the dormitory premises and avail the privileges.
            </p>
        </li>
    </ul>
    
    <br>
    
    </div>
  </main>

  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
  {% endblock content%}