{% extends 'user/user_base.html' %}
{% load static %}


{% block content %}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid py-4">
    <!-- Navbar -->
    {% include 'includes/user_topbar.html' %}
    <!-- End Navbar -->
    <hr style="border-top: 2px solid #FF4200; margin: 0px; opacity: 70%;">
    <h6 class="mb-0 font-weight-bold my-4" style="font-size: 25px;">Edit Account</h6>
    <p class="text-xs text-secondary mb-0">Modify your account to make it more secure.</p>

        <!-- messages & alerts -->
        {% if messages %}
            {% for message in messages %}
                {% if 'success' in message.tags %}
                    <p style="margin-top: 12px;" id="fadeout" class="text-success font-weight-bold text-sm">
                        {{ message }}
                    </p>
                {% else %}
                    <p style="margin-top: 12px;" id="fadeout" class="text-danger font-weight-bold text-sm">
                        {{ message }}
                    </p>
                {% endif %}
            {% endfor%}
        {% endif %}
        <!-- /messages & alerts -->

        <form role="form" class="" action="" method="post" novalidate autocomplete="off">
            {% csrf_token %}
            
            {% load widget_tweaks %}

            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    <p{% if forloop.last %} class="mb-0" {% endif %}>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}

            <label class="text-secondary font-weight-bolder opacity-9" style="margin-bottom: 0px; 
            font-size: 11px; margin-top: 5px; font-style: italic;">
             * Note: Your Username or PSU Email cannot be edit and modify.
            </label> <br>

            <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
            style="margin-bottom: 0px; margin-top: 17px;">Password</label>
            <div class="input-group input-group-outline" style="margin-bottom: 5px;">
                {% render_field form.password class="form-control" type="password" id="password"%}
            </div>

            <div class="form-check form-switch d-flex align-items-end mb-3 text-end"> &nbsp;  &nbsp; 
                <input class="form-check-input" type="checkbox" onclick="myFunction1()">
                <label class="form-check-label mb-0 ms-3 text-xs">Show Password</label>
            </div>

            <label class="text-secondary font-weight-bolder opacity-9" style="margin-bottom: 0px; 
            font-size: 13px; margin-top: 5px;">
             Strong password is:
            </label> <br>

            <label class="text-secondary" style="margin-bottom: 0px; 
            font-size: 12px; margin-top: 5px;">
             - At least 12 characters long but 14 or more is better.
            </label> <br>

            <label class="text-secondary" style="margin-bottom: 0px; 
            font-size: 12px; margin-top: 5px;">
             - A combination of uppercase letters, lowercase letters, numbers, and symbols.
            </label> <br>

            <label class="text-secondary" style="margin-bottom: 0px; 
            font-size: 12px; margin-top: 5px;">
             - Not a word that can be found in a dictionary or the name of a person, character, product, or organization.
            </label> <br>

            <label class="text-secondary" style="margin-bottom: 0px; 
            font-size: 12px; margin-top: 5px;">
             - Significantly different from your previous passwords.
            </label> <br>

            <label class="text-secondary" style="margin-bottom: 0px; 
            font-size: 12px; margin-top: 5px;">
             - Easy for you to remember but difficult for others to guess. Consider using a memorable phrase like "6MonkeysRLooking^".
            </label> <br>

            <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
            style="margin-bottom: 0px; margin-top: 17px;">Security Question</label>
            <div class="input-group input-group-outline">
                {% render_field form.security_question class="form-control" %}
            </div>

            <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
            style="margin-bottom: 0px; margin-top: 17px;">Security Answer</label>
            <div class="input-group input-group-outline">
                {% render_field form.security_answer class="form-control" type="password" id="security_answer"%}
            </div>

            <div class="form-check form-switch d-flex align-items-end mb-3 text-end"> &nbsp;  &nbsp; 
                <input class="form-check-input" type="checkbox" onclick="myFunction2()">
                <label class="form-check-label mb-0 ms-3 text-xs">Show Security Answer</label>
            </div>

            <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
            style="margin-bottom: 0px; margin-top: 17px;">Recovery Email</label>
            <div class="input-group input-group-outline">
                {% render_field form.recovery_email class="form-control" type="password" id="recovery_email"%}
            </div>

            <div class="form-check form-switch d-flex align-items-end mb-3 text-end"> &nbsp;  &nbsp; 
                <input class="form-check-input" type="checkbox" onclick="myFunction3()">
                <label class="form-check-label mb-0 ms-3 text-xs">Show Recovery Email</label>
            </div>
   
                <br /> <br />
                <div class="form-group text-end">
                    <div class="col-md-12 col-sm-3">
                        <button type='submit' class="btn text-white" style="background-color: #FF4200;">Update</button>
                        &nbsp &nbsp &nbsp
                        <a class="btn text-white" style="background-color: #4b4b4b;" href="{% url 'UserAccount' %}">Cancel</a>
                    </div>
                </div>
        </form>



    </div>
</main>

<script>
    function myFunction1() {
      var x = document.getElementById("password");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }

    function myFunction2() {
      var y = document.getElementById("security_answer");

      if (y.type === "password") {
        y.type = "text";
      } else {
        y.type = "password";
      }
    }

    function myFunction3() {
      var z = document.getElementById("recovery_email");

      if (z.type === "password") {
        z.type = "text";
      } else {
        z.type = "password";
      }
    }
</script>

{% endblock %}