{% extends 'user/user_base.html' %}

{% load static %}

{% block content %}
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid py-4">
    <!-- Navbar -->
    {% include 'includes/user_topbar.html' %}
    <!-- End Navbar -->
    <hr style="border-top: 2px solid #FF4200; margin: 0px; opacity: 70%;">

    <!-- Contract Information -->
    {% csrf_token %}

    {% load humanize %}
    
    {% for object in contract %}
    <div class="row">
        <div class="col-sm-8 col-8 col-md-8 my-2">
            <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
            style="margin-bottom: 0px;">Bed Code</label>
            <h6 style="color: #FF4200; font-size: 20px;">{{ object.bed__bed_code }}</h6>
            <h6 class="mb-3 text-xs">{{ object.bed__bed_description }}</h6>
        </div>
        <div class="col-sm-4 col-4 col-md-4 my-2">
            <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
            style="margin-bottom: 0px;">Boarder Type</label> <br>
            <span class="badge badge-sm" style="background-color: #FF4200;">{{ object.person__boarder_type }}</span>
        </div>
    </div>                  

    <hr style="border-top: 1px solid #FF4200; opacity: 0.3;" class="my-1">  

    <div class="row">
        <div class="col-sm-6 col-md-6 col-6">
            <span class="mb-2 text-xs">Bed Price: <span class="text-dark font-weight-bold ms-sm-2">P {{ object.bedPrice|intcomma }}</span></span> <br>
            <span class="mb-2 text-xs">Room Name: <span class="text-dark font-weight-bold ms-sm-2">{{ object.bed__room__room_name }}</span></span> <br>
        </div>

        <div class="col-sm-6 col-md-6 col-6">
            <span class="mb-2 text-xs">Floor Level: <span class="text-dark font-weight-bold ms-sm-2">{{ object.bed__room__floorlvl }}</span></span> <br>
            <span class="mb-2 text-xs">Dorm Name: <span class="text-dark ms-sm-2 font-weight-bold">{{ object.bed__room__dorm_name }}</span></span> <br>
        </div>
    </div>

    <hr style="border-top: 1px solid #FF4200; opacity: 0.3;" class="my-1">  

    <div class="row">
        <div class="col-sm-6 col-md-6 col-6 my-2">
            <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
            style="margin-bottom: 0px;">Start Date</label> <br>
            <h6 class="mb-3 text-xs">{{ object.start_date }}</h6>
        </div>

        <div class="col-sm-6 col-md-6 col-6 my-2">
            <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
            style="margin-bottom: 0px;">End Date</label> <br>
            <h6 class="mb-3 text-xs">{{ object.end_date }}</h6>
        </div>
    </div>
    {% endfor %}

    <p class="text-sm font-weight-bold mb-0 my-2 text-uppercase" style="color: rgba(255, 66, 0, 0.8);">Statement of Account</p>
    <hr style="border-top: 2px solid #FF4200; opacity: 0.5; margin-bottom: 20px;" class="my-1">  

    <div class="table-responsive my-4" style="padding: 0px 20px;">
        <p class="text-xxs font-weight-bold mb-0 text-uppercase opacity-8">Mandatory Fees</p>
        <table class="table align-items-center mb-0">
            <thead>
                <tr class="headings">
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                        Bill Date</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                        Service Name</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                        Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for object in fetch_first_three %}
                <tr>
                    <td class="">
                        <p class="text-xs text-secondary font-weight-bold mb-0">{{ object.bill_date }}</p>
                    </td>
                    <td class="text-center">
                        <p class="text-xs text-secondary font-weight-bold mb-0">{{ object.service__service_name }}</p>
                    </td>
                    <td class="text-center">
                        <p class="text-xs text-secondary font-weight-bold mb-0">P {{ object.amount|intcomma }}</p>
                    </td>
                </tr>
                {% empty %}
                <td class="text-sm" style="color: rgba(163, 167, 185, 0.8);"> <br> No data available in table. </td>
                {% endfor %}
            </tbody>
        </table> <br>

        <table class="table align-items-center mb-0">
            <p class="text-xxs font-weight-bold mb-0 text-uppercase opacity-8">Other Fees</p>
            <thead>
                <tr class="headings">
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                        Bill Date</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                        Service Name</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                        Quantity</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                        Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for object in billing_details %}
                <tr>
                    <td class="">
                        <p class="text-xs text-secondary font-weight-bold mb-0">{{ object.bill_date }}</p>
                    </td>
                    <td class="text-center">
                        <p class="text-xs text-secondary font-weight-bold mb-0">{{ object.service__service_name }}</p>
                    </td>
                    <td class="text-center">
                        <p class="text-xs text-secondary font-weight-bold mb-0">{{ object.quantity }}</p>
                    </td>
                    <td class="text-center">
                        <p class="text-xs text-secondary font-weight-bold mb-0">P {{ object.amount|intcomma }}</p>
                    </td>
                </tr>
                {% empty %}
                <td class="text-sm" style="color: rgba(163, 167, 185, 0.8);"> <br> No data available in table. </td>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <hr style="border-top: 1px solid #FF4200; opacity: 0.5;">
    <div class="table-responsive my-4" style="padding: 0px 20px;">
        <table class="table align-items-center mb-0">
            <thead>
                <tr class="headings">
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                        Payment Date</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                        Payment Amount</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                        Official Receipt Number</th>
                </tr>
            </thead>
            <tbody>
                {% for object in payment %}
                <tr>
                    <td class="">
                        <p class="text-xs text-secondary font-weight-bold mb-0">{{ object.payment_date }}</p>
                    </td>
                    <td class="text-center">
                        <p class="text-xs text-secondary font-weight-bold mb-0">P {{ object.amount|intcomma }}</p>
                    </td>
                    <td class="text-center">
                        <p class="text-xs text-secondary font-weight-bold mb-0">{{ object.receipt_no }}</p>
                    </td>
                </tr>
                {% empty %}
                <td class="text-sm" style="color: rgba(163, 167, 185, 0.8);"> <br> No data available in table. </td>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <hr style="border-top: 1px solid #FF4200; opacity: 0.4;" class="my-2">
    <div class="row my-2">
        <div class="col-4"></div>
        <div class="col-5">
            <label class="text-uppercase text-secondary text-xxs font-weight-bolder" 
            style="margin-bottom: 0px; margin-top: 3px;"> Total Amount of Bills : </label>
            <br>
            <label class="text-uppercase text-secondary text-xxs font-weight-bolder" 
            style="margin-bottom: 0px; margin-top: 3px;"> Total Amount of Payment : </label>
        </div>
        <div class="col-3">
            <b class="mb-0 text-xs" style="color: #FF4200;"> P {{ total_bills_amount|intcomma }}</b>
            <br>
            <b class="mb-0 text-xs" style="color: #FF4200;"> P {{ total_payment_amount|intcomma }}</b>
        </div>
    </div>

    <hr style="border-top: 1px solid #FF4200; opacity: 0.5;" class="my-2">
    <div class="row my-2">
        {% if remaining_balance >= 0 %}
        <div class="col-4"></div>
        <div class="col-5">
            <label class="text-uppercase text-xs font-weight-bolder" 
            style="margin-bottom: 0px; margin-top: 3px; color: #FF4200;"> Remaining Balance : </label>
        </div>
        <div class="col-3"> 
                <b class="mb-0 text-sm" style="color: #FF4200;"> P {{ remaining_balance|intcomma }}</b>
        </div>
        {% else %}
        <div class="col-4"></div>
        <div class="col-5">
            <label class="text-uppercase text-xs font-weight-bolder" 
            style="margin-bottom: 0px; margin-top: 3px; color: #FF4200;"> Remaining Change : </label>
        </div>
        <div class="col-3"> 
                <b class="mb-0 text-sm" style="color: #FF4200;"> P {{ remaining_balance|intcomma|slice:"1:" }}</b>
        </div>
        {% endif %}
    </div>


    <!-- end of Contract Information -->

    </div>
  </main>
  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
  {% endblock content%}