{% extends 'user/user_base.html' %}

{% load static %}

{% block content %}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid py-4">
    <!-- Navbar -->
    {% include 'includes/user_topbar.html' %}
    <!-- End Navbar -->
    <hr style="border-top: 2px solid #FF4200; margin: 0px; opacity: 70%;">
    <h6 class="mb-0 font-weight-bold my-4" style="font-size: 25px;">Billing</h6>
    <p class="text-xs text-secondary mb-0">Your contract within the dormitory listed here.</p>

        {% csrf_token %}

        {% load humanize %}
        
        {% for object in cont %}
        <div class="col-md-12 col-sm-12 col-12 my-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8 col-8 col-md-8">
                            <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                            style="margin-bottom: 0px;">Bed Code</label>
                        </div>
                        <div class="col-sm-4 col-4 col-md-4 text-end">
                          <a class="px-2 mb-0 text-sm font-weight-bold opacity-8" 
                          style="color: #FF4200;" href="user_billing/{{ object.id }}">View</a>
                        </div>
                    </div>                  

                    <h6 style="color: #FF4200; font-size: 23px;">{{ object.bed__bed_code }}</h6>
                    <h6 class="mb-3 text-xs">{{ object.bed__bed_description }}</h6>

                    <hr style="border-top: 1px solid #FF4200; opacity: 0.3;" class="my-3"> 

                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-6">
                            <p class="mb-1 text-xs my-1">Bed Price</p>
                            <p class="text-dark font-weight-bold ms-sm-2 text-xs">P {{ object.bedPrice|intcomma }}</p>

                            <p class="mb-1 text-xs">Room Name</p>
                            <p class="text-dark font-weight-bold ms-sm-2 text-xs mb-1">{{ object.bed__room__room_name }}</p>
                        </div>

                        <div class="col-sm-6 col-md-6 col-6">
                            <p class="mb-1 text-xs my-1">Floor Level</p>
                            <p class="text-dark font-weight-bold ms-sm-2 text-xs">
                                {% if object.bed__room__floorlvl == '1' %}
                                    {{ object.bed__room__floorlvl }}st floor
                                {% elif object.bed__room__floorlvl == '2' %}
                                    {{ object.bed__room__floorlvl }}nd floor
                                {% elif object.bed__room__floorlvl == '3' %}
                                    {{ object.bed__room__floorlvl }}rd floor
                                {% endif %}
                            </p>

                            <p class="mb-1 text-xs">Dorm Name </p>
                            <p class="text-dark ms-sm-2 font-weight-bold text-xs mb-1">{{ object.bed__room__dorm_name }}</p>
                        </div>
                    </div>

                    <hr style="border-top: 1px solid #FF4200; opacity: 0.3;" class="my-3">  


                    <div class="row">
                        <div class="col-4">
                            <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                            style="margin-bottom: 0px;">Start Date : </label>
                        </div>

                        <div class="col-8">
                            <span class="badge badge-sm" style="background-color: #FF4200; margin-bottom: 15px;"> 
                            {{ object.start_date }}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                            style="margin-bottom: 0px;">End Date : </label>
                        </div>

                        <div class="col-8">
                            <span class="badge badge-sm" style="background-color: #FF4200; margin-bottom: 15px;">
                            {{ object.end_date }}</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</main>

  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
  {% endblock content%}