{% extends 'accountingstaff/as_base.html' %}

{% load static %}

{% block content %}
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <div class="container-fluid py-4">
            <div class="row">
              <!-- Totals -->
              <div class="col-xl-6 col-sm-6 mb-xl-0 mb-4">
                <div class="card">

                  <a href="#" style="color: #7B809A;">
                  <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                      <i class="material-icons opacity-10">weekend</i>
                    </div>
                    <div class="text-end pt-1">
                      <p class="text-sm mb-0 text-capitalize">Available Bed</p>
                      <h4 class="mb-0 text-dark">{% if available_bed != empty %} {{ available_bed }} {% else %} 0 {% endif %}</h4>
                    </div>
                  </div>
                  </a>

                  <hr class="dark horizontal my-0">

                  <div class="card-footer p-3">
                    <div class="row">
                      <div class="col-4">
                        <a href="as_dash_male_vacant_bed" style="color: #7B809A;">
                        <span class="mb-0 text-link text-sm">Male Dorm: <span class="text-sm font-weight-bolder text-dark">
                          {% if maledorm_bed != empty %} {{ maledorm_bed }} {% else %} 0 {% endif %}</span></span>
                        </a>
                      </div>
                      <div class="col-4">
                        <a href="as_dash_female_vacant_bed" style="color: #7B809A;">
                        <span class="mb-0 text-link text-sm">Female Dorm: <span class="text-sm font-weight-bolder text-dark"> 
                          {% if femaledorm_bed != empty %} {{ femaledorm_bed }} {% else %} 0 {% endif %}</span></span>
                        </a>
                      </div>
                      <div class="col-4">
                        <a href="as_dash_foreign_vacant_bed" style="color: #7B809A;">
                        <span class="mb-0 text-link text-sm">Foreign Dorm: <span class="text-sm font-weight-bolder text-dark"> 
                          {% if foreigndorm_bed != empty %} {{ foreigndorm_bed }} {% else %} 0 {% endif %}</span></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">

                  <a href="as_occupant_list" style="color: #7B809A;">
                  <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape shadow-primary text-center border-radius-xl mt-n4 position-absolute"
                    style="background-color: #FF4200;">
                      <i class="material-icons opacity-10">groups</i>
                    </div>
                    <div class="text-end pt-1">
                      <p class="text-sm mb-0 text-capitalize">Occupants</p>
                      <h4 class="mb-0" style="color: #FF4200;">{% if occupants != empty %} {{ occupants }} {% else %} 0 {% endif %}</h4>
                    </div>
                  </div>
                  </a>

                  <hr class="dark horizontal my-0">

                  <div class="card-footer p-3">
                    <div class="row">
                      <div class="col-6">
                        <span class="mb-0 text-link text-sm">Local: <span class="text-sm font-weight-bolder"
                        style="color: #FF4200;">
                          {% if local != empty %} {{ local }} {% else %} 0 {% endif %}</span></span>
                      </div>
                      <div class="col-6">
                        <span class="mb-0 text-link text-sm">Foreign: <span class="text-sm font-weight-bolder"
                        style="color: #FF4200;"> 
                          {% if foreign != empty %} {{ foreign }} {% else %} 0 {% endif %}</span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">

                  <a href="#" style="color: #7B809A;">
                  <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape shadow-success text-center border-radius-xl mt-n4 position-absolute"
                    style="background-color: #ff9001;">
                      <i class="material-icons opacity-10">table_view</i>
                    </div>
                    <div class="text-end pt-1">
                      <p class="text-sm mb-0 text-capitalize">Registered</p>
                      <h4 class="mb-0" style="color: #ff9001;">{% if registered != empty %} {{ registered }} {% else %} 0 {% endif %}</h4>
                    </div>
                  </div>
                  </a>

                  <hr class="dark horizontal my-0">

                  <div class="card-footer p-3">
                      <div class="row">
                        <div class="col-6">
                          <span class="mb-0 text-link text-sm">Complete: <span class="text-sm font-weight-bolder"
                          style="color: #ff9001;">
                            {% if complete != empty %} {{ complete }} {% else %} 0 {% endif %}</span></span>
                        </div>
                        <div class="col-6">
                          <span class="mb-0 text-link text-sm">Incomplete: <span class="text-sm font-weight-bolder"
                            style="color: #ff9001;"> 
                            {% if incomplete != empty %} {{ incomplete }} {% else %} 0 {% endif %}</span></span>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>

            <!-- Charts -->
            <div class="row mt-4">
              <div class="col-lg-4 col-md-6 mt-4 mb-4">
                <div class="card z-index-2 ">
                  <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="shadow-primary border-radius-lg py-3 pe-1" style="background-color: #FF9001;">
                      <div class="chart">
                        <canvas id="chart-bar-gender-total" class="chart-canvas" height="170"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <h6 class="mb-0 ">Students Gender</h6>
                    <p class="text-sm ">Registered and Occupants</p>
                    <hr class="dark horizontal">
                    <div class="d-flex ">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mt-4 mb-4">
                <div class="card z-index-2  ">
                  <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="shadow-success border-radius-lg py-3 pe-1" style="background-color: #FF4200;">
                      <div class="chart">
                        <canvas id="chart-line-monthly-reg" class="chart-canvas" height="170"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <h6 class="mb-0 "> Monthly Registration </h6>
                    <p class="text-sm "> Registered students monthly</p>
                    <hr class="dark horizontal">
                    <div class="d-flex ">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mt-4 mb-3">
                <div class="card z-index-2 ">
                  <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="bg-gradient-dark shadow-dark border-radius-lg py-3 pe-1">
                      <div class="chart">
                        <canvas id="chart-line-monthly-occ" class="chart-canvas" height="170"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <h6 class="mb-0 ">Monthly Occupant</h6>
                    <p class="text-sm "> Overall occupants </p>

                    <hr class="dark horizontal">
                    <div class="d-flex ">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <h6 class="mb-0 font-weight-bold my-3 px-3" style="font-size: 22px;">Occupant Gender</h6>
            <p class="text-sm text-secondary mb-2 px-3">Three <i>genders</i> in the dormitory displayed here a graph for its every monthly percentage.</p>

            <div class="row mt-4">
              <div class="col-lg-4 col-md-6 mt-4 mb-4">
                <div class="card z-index-2  ">
                  <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="shadow-success border-radius-lg py-3 pe-1" style="background-color: #FF9001;">
                      <div class="chart">
                        <canvas id="chart-line-male-monthly-percentage" class="chart-canvas" height="170"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <h6 class="mb-0 "> Monthly Male </h6>
                    <p class="text-sm "> Percentage of Male occupant</p>
                    <hr class="dark horizontal">
                    <div class="d-flex ">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mt-4 mb-4">
                <div class="card z-index-2  ">
                  <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="shadow-success border-radius-lg py-3 pe-1" style="background-color: #FF4200;">
                      <div class="chart">
                        <canvas id="chart-line-female-monthly-percentage" class="chart-canvas" height="170"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <h6 class="mb-0 "> Monthly Female </h6>
                    <p class="text-sm "> Percentage of Female occupant</p>
                    <hr class="dark horizontal">
                    <div class="d-flex ">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mt-4 mb-3">
                <div class="card z-index-2  ">
                  <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="bg-gradient-dark shadow-dark border-radius-lg py-3 pe-1">
                      <div class="chart">
                        <canvas id="chart-line-lgbt-monthly-percentage" class="chart-canvas" height="170"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <h6 class="mb-0 "> Monthly LGBTQIA+ </h6>
                    <p class="text-sm "> Percentage of LGBTQIA+ occupant</p>
                    <hr class="dark horizontal">
                    <div class="d-flex ">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <h6 class="mb-0 font-weight-bold my-3 px-3" style="font-size: 22px;">Occupant Payment</h6>
            <p class="text-sm text-secondary mb-2 px-3">Percentage of every <i>Paid</i>, <i>Partially paid</i> and <i>Unpaid</i> occupants every month. </p>

            <div class="row mt-4">
              <div class="col-lg-4 col-md-6 mt-4 mb-4">
                <div class="card z-index-2  ">
                  <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="shadow-success border-radius-lg py-3 pe-1" style="background-color: #FF9001;">
                      <div class="chart">
                        <canvas id="chart-line-paid-monthly-percentage" class="chart-canvas" height="170"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <h6 class="mb-0 "> Monthly Paid </h6>
                    <p class="text-sm "> Percentage of Paid occupant</p>
                    <hr class="dark horizontal">
                    <div class="d-flex ">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mt-4 mb-4">
                <div class="card z-index-2  ">
                  <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="shadow-success border-radius-lg py-3 pe-1" style="background-color: #FF4200;">
                      <div class="chart">
                        <canvas id="chart-line-partiallypaid-monthly-percentage" class="chart-canvas" height="170"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <h6 class="mb-0 "> Monthly Partially Paid </h6>
                    <p class="text-sm "> Percentage of Partially paid occupant</p>
                    <hr class="dark horizontal">
                    <div class="d-flex ">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mt-4 mb-3">
                <div class="card z-index-2  ">
                  <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="bg-gradient-dark shadow-dark border-radius-lg py-3 pe-1">
                      <div class="chart">
                        <canvas id="chart-line-unpaid-monthly-percentage" class="chart-canvas" height="170"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <h6 class="mb-0 "> Monthly Unpaid </h6>
                    <p class="text-sm "> Percentage of Unpaid occupant</p>
                    <hr class="dark horizontal">
                    <div class="d-flex ">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <br>
            <div class="copyright text-center text-sm text-muted text-lg-start">
              © <script>
                document.write(new Date().getFullYear())
              </script>,
              made with <i class="fa fa-heart"></i> by
              <span href="#" class="font-weight-bold text-dark" target="_blank">Dormies</span>
              for PSU Beloved.
            </div>
        </div>
  </main>

  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
  <script>
    var ctx = document.getElementById("chart-bar-gender-total").getContext("2d");

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: [{% for gender in gender_list %} '{{ gender }}', {% endfor %}],
        datasets: [{
          label: "Students",
          tension: 0.4,
          borderWidth: 0,
          borderRadius: 4,
          borderSkipped: false,
          backgroundColor: "rgba(255, 255, 255, .8)",
          data: [{% for number in gender_number %} '{{ number }}', {% endfor %}],
          maxBarThickness: 6
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
              color: "#fff"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 13,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });


    var ctx1 = document.getElementById("chart-line-monthly-reg").getContext("2d");

    new Chart(ctx1, {
      type: "line",
      data: {
        labels: [{% for month in monthly_list %} '{{ month }}', {% endfor %}],
        datasets: [{
          label: "Total",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(255, 255, 255, .8)",
          pointBorderColor: "transparent",
          borderColor: "rgba(255, 255, 255, .8)",
          borderColor: "rgba(255, 255, 255, .8)",
          borderWidth: 4,
          backgroundColor: "transparent",
          fill: true,
          data: [{% for number in monthly_number %} '{{ number }}', {% endfor %}],
          maxBarThickness: 6

        }],
        
      },
      
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });

    var ctx2 = document.getElementById("chart-line-monthly-occ").getContext("2d");

    new Chart(ctx2, {
      type: "line",
      data: {
        labels: [{% for month in occ_monthly_list %} '{{ month }}', {% endfor %}],
        datasets: [{
          label: "Total",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(255, 255, 255, .8)",
          pointBorderColor: "transparent",
          borderColor: "rgba(255, 255, 255, .8)",
          borderColor: "rgba(255, 255, 255, .8)",
          borderWidth: 4,
          backgroundColor: "transparent",
          fill: true,
          data: [{% for number in occ_monthly_number %} '{{ number }}', {% endfor %}],
          maxBarThickness: 6

        }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });

    var ctx3 = document.getElementById("chart-line-male-monthly-percentage").getContext("2d");

    new Chart(ctx3, {
      type: "line",
      data: {
        labels: [{% for month in male_monthly_occ_per_list %} '{{ month }}', {% endfor %}],
        datasets: [{
          label: "Percent",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(255, 255, 255, .8)",
          pointBorderColor: "transparent",
          borderColor: "rgba(255, 255, 255, .8)",
          borderColor: "rgba(255, 255, 255, .8)",
          borderWidth: 4,
          backgroundColor: "transparent",
          fill: true,
          data: [{% for number in male_monthly_occ_per %} '{{ number }}', {% endfor %}],
          maxBarThickness: 6

        }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });

    var ctx4 = document.getElementById("chart-line-female-monthly-percentage").getContext("2d");

    new Chart(ctx4, {
      type: "line",
      data: {
        labels: [{% for month in female_monthly_occ_per_list %} '{{ month }}', {% endfor %}],
        datasets: [{
          label: "Percent",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(255, 255, 255, .8)",
          pointBorderColor: "transparent",
          borderColor: "rgba(255, 255, 255, .8)",
          borderColor: "rgba(255, 255, 255, .8)",
          borderWidth: 4,
          backgroundColor: "transparent",
          fill: true,
          data: [{% for number in female_monthly_occ_per %} '{{ number }}', {% endfor %}],
          maxBarThickness: 6

        }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });


    var ctx5 = document.getElementById("chart-line-lgbt-monthly-percentage").getContext("2d");

    new Chart(ctx5, {
      type: "line",
      data: {
        labels: [{% for month in LGBTQIA_monthly_occ_per_list %} '{{ month }}', {% endfor %}],
        datasets: [{
          label: "Percent",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(255, 255, 255, .8)",
          pointBorderColor: "transparent",
          borderColor: "rgba(255, 255, 255, .8)",
          borderColor: "rgba(255, 255, 255, .8)",
          borderWidth: 4,
          backgroundColor: "transparent",
          fill: true,
          data: [{% for number in LGBTQIA_monthly_occ_per %} '{{ number }}', {% endfor %}],
          maxBarThickness: 6

        }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });

    var ctx6 = document.getElementById("chart-line-paid-monthly-percentage").getContext("2d");

    new Chart(ctx6, {
      type: "line",
      data: {
        labels: [{% for month in paid_monthly_occ_per_list %} '{{ month }}', {% endfor %}],
        datasets: [{
          label: "Percent",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(255, 255, 255, .8)",
          pointBorderColor: "transparent",
          borderColor: "rgba(255, 255, 255, .8)",
          borderColor: "rgba(255, 255, 255, .8)",
          borderWidth: 4,
          backgroundColor: "transparent",
          fill: true,
          data: [{% for number in paid_monthly_occ_per %} '{{ number }}', {% endfor %}],
          maxBarThickness: 6

        }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });

    var ctx7 = document.getElementById("chart-line-partiallypaid-monthly-percentage").getContext("2d");

    new Chart(ctx7, {
      type: "line",
      data: {
        labels: [{% for month in partiallypaid_monthly_occ_per_list %} '{{ month }}', {% endfor %}],
        datasets: [{
          label: "Percent",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(255, 255, 255, .8)",
          pointBorderColor: "transparent",
          borderColor: "rgba(255, 255, 255, .8)",
          borderColor: "rgba(255, 255, 255, .8)",
          borderWidth: 4,
          backgroundColor: "transparent",
          fill: true,
          data: [{% for number in partiallypaid_monthly_occ_per %} '{{ number }}', {% endfor %}],
          maxBarThickness: 6

        }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });

    var ctx8 = document.getElementById("chart-line-unpaid-monthly-percentage").getContext("2d");

    new Chart(ctx8, {
      type: "line",
      data: {
        labels: [{% for month in unpaid_monthly_occ_per_list %} '{{ month }}', {% endfor %}],
        datasets: [{
          label: "Percent",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(255, 255, 255, .8)",
          pointBorderColor: "transparent",
          borderColor: "rgba(255, 255, 255, .8)",
          borderColor: "rgba(255, 255, 255, .8)",
          borderWidth: 4,
          backgroundColor: "transparent",
          fill: true,
          data: [{% for number in unpaid_monthly_occ_per %} '{{ number }}', {% endfor %}],
          maxBarThickness: 6

        }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });
  </script>
  {% endblock content%}