{% extends 'superadmin/base.html' %}
{% load static %}


{% block content %}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="shadow-primary border-radius-lg pt-4 pb-3" style="background-color: #FF9001;">
                            <h6 class="text-white text-capitalize ps-3">Update Payment Details</h6>
                        </div>
                    </div>
                    <div class="card-body">
                    <form class="" action="" method="post" novalidate autocomplete="off">
                        {% csrf_token %}
                        
                        {% load widget_tweaks %}

                        {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in form.non_field_errors %}
                                <p{% if forloop.last %} class="mb-0" {% endif %}>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}

                        {% include 'includes/select2.html' %}

                        <div class="row mb-3"> 
                            <div class="col-6">
                                <div class="form-check form-switch ps-0">
                                    <input class="form-check-input ms-auto" type="checkbox" id="toggle_pay__let_ref" style="margin-top: 22px;">
                                    <label class="form-check-label text-body ms-3 mb-0 font-weight-bold w-70" 
                                    for="toggle_pay_let_ref" style="font-size: 14px; margin-top: 17px;"> 
                                    The letter endorsed by the unit head as a supporting document is approved</label>
                                    <p class="text-xs text-secondary mb-2 my-1 w-90 px-5">
                                        <i>Note: It is mandated to have this document for the modification of 
                                        any financial or money transcations in the system</i>
                                    </p>
                                </div>
                            </div>
                            <div class="col-6">
                                <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                                style="margin-bottom: 0px; margin-top: 17px;">Document Reference Number</label>
                                <div class="input-group input-group-outline">
                                    {% render_field form.pay_let_ref class="form-control" disabled="disabled" id="pay_let_ref" %}
                                </div>
                            </div>
                        </div>

                        <hr style="border-top: 2px solid #FF9001; opacity: 0.2;" class="my-1">

                        <div class="row my-2">
                            <div class="col-6">
                                <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                                style="margin-bottom: 0px; margin-top: 17px;">Occupant Name</label>
                                <div class="input-group input-group-outline">
                                    <select class="form-control occupant-list" name="occupant" id="occupant" data-placeholder="" disabled>
                                        {% for occupant in form.occupant %}
                                            <option value="{{ occupant.id }}">{{ occupant }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                             </div>

                            <div class="col-6">
                                <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                                style="margin-bottom: 0px; margin-top: 17px;">Payment Date</label>
                                <div class="input-group input-group-outline">
                                    {% render_field form.payment_date class="form-control" type="datetime-local" disabled="disabled" id="payment_date" %}
                                </div>
                            </div>
                        </div>

                        <div class="row my-2">
                            <div class="col-6">
                                <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                                style="margin-bottom: 0px; margin-top: 17px;">Payment Amount</label>
                                <div class="input-group input-group-outline">
                                    {% render_field form.amount class="form-control" disabled="disabled" id="amount" %}
                                </div>
                             </div>

                            <div class="col-6">
                                <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                                style="margin-bottom: 0px; margin-top: 17px;">Official Receipt Number</label>
                                <div class="input-group input-group-outline">
                                    {% render_field form.receipt_no class="form-control" disabled="disabled" id="receipt_no" %}
                                </div>
                            </div>
                        </div>

                        <div class="ln_solid">
                            <br />
                            <div class="form-group my-1">
                                <div class="col-md-12 col-sm-3">
                                    <button type='submit' class="btn text-white shadow-warning" style="background-color: #FF9001;">Update</button>
                                    &nbsp &nbsp &nbsp
                                    <a class="btn text-white shadow-secondary" style="background-color: #4b4b4b;" href={{request.META.HTTP_REFERER}}>Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    $(document).ready(function() {
        $('.occupant-list').select2();
    });
</script>

<script>
    const toggle_pay__let_ref = document.getElementById('toggle_pay__let_ref');
    const pay_let_ref = document.getElementById('pay_let_ref');
    const occupant = document.getElementById('occupant');
    const payment_date = document.getElementById('payment_date');
    const amount = document.getElementById('amount');
    const receipt_no = document.getElementById('receipt_no');

    toggle_pay__let_ref.addEventListener('change', function() {
        if(this.checked) {
            pay_let_ref.disabled = false;
            occupant.disabled = false;
            payment_date.disabled = false;
            amount.disabled = false;
            receipt_no.disabled = false;
        } else {
            pay_let_ref.disabled = true;
            occupant.disabled = true;
            payment_date.disabled = true;
            amount.disabled = true;
            receipt_no.disabled = true;
        }
    });
</script>

{% endblock %}