{% extends 'superadmin/base.html' %}
{% load static %}


{% block content %}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="shadow-primary border-radius-lg pt-4 pb-3" style="background-color: rgba(255, 66, 0, 0.9);">
                            <h6 class="text-white text-capitalize ps-3">New Incidental Details</h6>
                        </div>
                    </div>

                    <div class="card-body">

                    <!-- messages & alerts -->
                    {% if messages %}
                        {% for message in messages %}
                            {% if 'success' in message.tags %}
                                <p style="margin-top: 12px;" id="fadeout" class="text-success font-weight-bold text-sm">
                                    {{ message }}
                                </p>
                            {% else %}
                                <p style="margin-top: 12px;" id="fadeout" class="text-danger font-weight-bold text-sm">
                                    {{ message }}
                                </p>
                            {% endif %}
                        {% endfor%}
                    {% endif %}
                    <!-- /messages & alerts -->

                    <form role="form" class="" action="" method="post" novalidate autocomplete="off">
                        {% csrf_token %}

                        {% load widget_tweaks %}

                        {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in form.non_field_errors %}
                                <p{% if forloop.last %} class="mb-0" {% endif %}>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-4">
                                <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                                style="margin-bottom: 0px; margin-top: 17px;">Service Name</label>
                                <div class="input-group input-group-outline">
                                    {% render_field form.service_name class="form-control" %}
                                </div>
                            </div>

                            <div class="col-4">
                                <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                                style="margin-bottom: 0px; margin-top: 17px;">Title</label>
                                <div class="input-group input-group-outline">
                                    {% render_field form.title class="form-control" %}
                                </div>
                            </div>

                            <div class="col-4">
                                <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                                style="margin-bottom: 0px; margin-top: 17px;">Description</label>
                                <div class="input-group input-group-outline">
                                    {% render_field form.description class="form-control" %}
                                </div>
                            </div>

                            <div class="col-4">
                                <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                                style="margin-bottom: 0px; margin-top: 17px;">Provider</label>
                                <div class="input-group input-group-outline">
                                    {% render_field form.provider class="form-control" %}
                                </div>
                            </div>

                            <div class="col-4">
                                <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                                style="margin-bottom: 0px; margin-top: 17px;">Status</label>
                                <div class="input-group input-group-outline">
                                    {% render_field form.status class="form-control" %}
                                </div>
                            </div>

                            <div class="col-4">
                                <label class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9" 
                                style="margin-bottom: 0px; margin-top: 17px;">Base Amount</label>
                                <div class="input-group input-group-outline">
                                    {% render_field form.base_amount class="form-control" %}
                                </div>
                            </div>
                        </div>
               
                            <br />
                            <div class="form-group">
                                <div class="col-md-12 col-sm-3">
                                    <button type='submit' class="btn text-white shadow-primary" style="background-color: rgba(255, 66, 0, 0.9);">Save</button>
                                    &nbsp &nbsp &nbsp
                                    <a class="btn text-white shadow-secondary" style="background-color: #4b4b4b;" href="{% url 'ServiceList' %}">Cancel</a>
                                </div>
                            </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    var milliseconds = 3000;

    setTimeout(function() {
      document.getElementById('fadeout').remove();
      }, milliseconds);
</script>

{% endblock %}