{% extends "superadmin/base.html" %}
{% load static %}

{% block content %}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="shadow-primary border-radius-lg pt-4 pb-3" style="background-color: rgba(255, 66, 0, 0.9);">
                            <h6 class="text-white ps-3">List of Occupants Account</h6>
                        </div>
                    </div>

                    {% include 'includes/search_style.html' %}

                    <div class="card-body">
                       <div class="row">
                            <div class="col-sm-2">
                                <!-- <div class="pull-right">
                                <a href="{% url 'RegistrationAdd' %}" class="btn mt-4 w-100 text-white" 
                                style="background-color: #FF4200;">Register</a>
                                </div> -->
                            </div>

                            <div class="col-sm-7"></div>
                            
                            <div class="col-sm-3">
                                <form action="{% url 'OccupantAccounts' %}" method="get"> 
                                    <div class="input-group input-group-outline">
                                        <label class="form-label">Search occupant...</label>
                                        <input type="text" class="form-control" name="q">
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- messages & alerts -->
                            {% for message in messages %}
                            <p style="margin-top: 15px;" id="fadeout" class="text-success font-weight-bold text-xs">
                                {{ message }}
                            </p>
                        {% endfor%}
                        <!-- /messages & alerts -->
                        
                    </div>

                        <div class="table-responsive" style="padding: 0px 20px;">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr class="headings">
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Occupant Name</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Username</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Password</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Status</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for object in object_list %}
                                    <tr>
                                        <td class="text-center">
                                            <p class="text-xs text-secondary font-weight-bold mb-0">{{ object.lastname }}, {{ object.firstname }}</p>
                                        </td>
                                        <td class="text-center">
                                            <p class="text-xs text-secondary mb-0">{{ object.username }}</p>
                                        </td>
                                        <td class="text-center">
                                            <p class="text-xs text-secondary mb-0 password" id="password{{ forloop.counter }}">{{ object.password }}</p>
                                        </td>
                                        <td class="text-sm text-center">
                                            {% if object.user_status == "inactive" %}
                                                <span class="badge badge-sm bg-gradient-secondary shadow-secondary">Inactive</span>
                                            {% elif object.user_status == "active" %} 
                                                <span class="badge badge-sm bg-gradient-success shadow-success">Active</span>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            <a href="users/{{ object.id }}"
                                                class="btn btn-link px-3 mb-0" style="color: #FF9001; font-size: 10px;" 
                                                data-toggle="tooltip">
                                                <i class="material-icons text-sm me-2">edit</i>Edit</a>

                                            <!-- <a href="delete_user/{{ object.id }}"
                                                class="btn btn-link text-danger px-3 mb-0"
                                                data-toggle="tooltip" style="font-size: 10px;">
                                                <i class="material-icons text-sm me-2">delete</i>Delete</a> -->

                                            <!-- <a href="users/{{ object.id }}"
                                                class="btn btn-link px-3 mb-0" style="color: #4b4b4b; font-size: 10px;"     
                                                data-toggle="tooltip" style="font-size: 10px;">
                                                <i class="material-icons text-sm me-2">assignment</i>View</a> -->
                                        </td>   
                                    </tr>

                                    {% empty %}
                                    <td class="text-sm" style="color: rgba(163, 167, 185, 0.8);"> <br> No data available in table.</td>
                                    {% endfor %}

                                </tbody>
                            </table>
                            <br>
                            <span class="mb-0 text-link text-xs ">Total Number of 
                                <span class="text-sm font-weight-bolder" style="color: #FF4200;">
                                    {% if accounts != empty %} {{ accounts }} {% else %} 0 {% endif %}</span>Accounts.
                                <span class="text-sm font-weight-bolder" style="color: #FF4200;">
                                    {% if active != empty %} {{ active }} {% else %} 0 {% endif %}</span>Active and 
                                <span class="text-sm font-weight-bolder" style="color: #FF4200;">
                                    {% if inactive != empty %} {{ inactive }} {% else %} 0 {% endif %}</span>Inactive. 
                            </span>  
                            {% include 'includes/pagination.html' %}
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
</main>

<script>
    var passwordEls = document.querySelectorAll('.password');
    for (var i = 0; i < passwordEls.length; i++) {
      var passwordEl = passwordEls[i];
      passwordEl.innerHTML = '*'.repeat(passwordEl.textContent.length);
    }
</script>

<script>
    var milliseconds = 3000;

    setTimeout(function() {
      document.getElementById('fadeout').remove();
      }, milliseconds);
</script>
{% endblock content%}